[2017-08-27 19:59] Ali-Razmjoo opened #1 "Add Documents, Improve Wiki, Add Training Videos"
Hello everyone,

OWASP Nettacker doesn't have any documents or wiki right now, It's best we start Developers/Users documents to make it more friendly.

I glad if anyone can help on this! (start from [wiki](https://github.com/viraintel/OWASP-Nettacker/wiki))

[2017-08-27 20:16] Ali-Razmjoo opened #2 "Develop OWASP Nettacker Languages"
Hello everyone,

I just start creating messages in a [Python file](https://github.com/viraintel/OWASP-Nettacker/blob/master/core/languages.py) which is using JSON to keep the sentences.

How should you add a new language? easy, just open the languages.py and start adding the messages. here it's an example.

Original:
[code]

after adding `Farsi/Persian` language:

[code]

as you see, you need to a

[2017-08-31 15:31] Ali-Razmjoo commented on #2
The Persian language added

[code]
Noitce: Because of RTL, table headers are reversed!

[2017-09-22 23:20] Ali-Razmjoo commented on #2
The Hindi Language added.

[code]

@CodeMaxx I glad if you can give me some fixes for the Hindi language.
Thanks.

[2017-09-23 04:09] CodeMaxx commented on #2
@Ali-Razmjoo My regional language is not Hindi so I don't know a lot about it, I'm sorry :/

[2017-10-17 08:34] Ali-Razmjoo commented on #2
It's become about 20 (exactly 19) language which I think it's enough for now, I glad if anyone can fix the language grammars. Thanks.

[2017-10-17 08:34] #2 closed

[2018-01-11 05:05] Ali-Razmjoo opened #4 "OWASP Nettacker API"
Hello everyone,

OWASP Nettacker doesn't have any API at the moment so It's best to develop one! The purpose to design an API is that we can provide more user interfaces and controllers.

where are the events? all events that we'd show to users are using `core.alert` to print on the command line in one of these types: `info`, `warn`, `error`, `write`. also, every thread and events will save in the

[2018-01-11 05:09] Ali-Razmjoo opened #5 "Wizard Switch"
Hello everyone.

I think it's great if the project has a `--wizard` switch for beginners. command lines maybe boring or complicated for newbie users. wizard switch may also have default values so if you just pushed the `enter`, the framework would set the default values. default values are saved in `config.py` in the main directory. (just `target` value can't be default!).

Let me know if there is

[2018-01-11 05:13] Ali-Razmjoo opened #6 "Create GUI Based on the API"
Hello everyone,

After completing the API, It's best to add create a GUI for the project. Right now I am thinking about Qt but let me know if you have a better idea.

Let me know if there is any question.
Regards.

[2018-01-11 05:17] Ali-Razmjoo opened #7 "A better HTML report"
Hello everyone,

Right now the framework supports three types of outputs. `JSON`, `Text` and `HTML`. the HTML can handle a graph also. `d3_tree_v1_graph`, `d3_tree_v2_graph`, `jit_circle_v1_graph`. But it's not nice at all! I glad if someone could help me with a better HTML output.

To see how the framework is creating an HTML report, check the `core/log.py`.

Let me know if there is any question.

[2018-01-11 05:28] Ali-Razmjoo opened #8 "Create a local database and explorer (networks explorer)"
Hello everyone,

It's awesome if OWASP Nettacker could provide a local database of every scan. We can add a new key in `config.py`  named `save_results_in_local_database` and set default value as `True` .

what are the local DB and explorer is all about? I've seen some websites ([shodan.io](https://www.shodan.io), [censys.io](https://censys.io/)) and opensource project [ivre](https://ivre.rocks/).

[2018-01-11 05:41] Ali-Razmjoo opened #9 "A better multi threaded framework!"
Hello everyone.

Right now OWASP Nettacker has two kinds of multi-threading/processing. the first one is `-M` switch which is the number of hosts to scan together. It's using `multiprocessing` module. another one is the number of threads to a host `-t` switch. It's using the `threading` module.

the problem is when the threading number is too high, and we want to count the active threads! for exam

[2018-01-11 05:46] Ali-Razmjoo commented on #1
Hi,

I just improved the wiki a little bit. but still, it needs really many things to add. adding training videos for users and developers would be great!

Regards.

[2018-01-11 05:49] Ali-Razmjoo opened #10 "A better language library"
Hello everyone,

As you see the framework is growing, we may need a better language library to keep our data in and also easier to develop for developers and translators. right now we keeping the language's data in the `core/languages.py` but I believe it needs to be separate and get a new face. I suggest `XML` or `JSON` structure. And it's better if every module has their own language library fil

[2018-01-11 05:58] Ali-Razmjoo opened #11 "Create more categories for the framework"
Hello everyone,

The framework already has `scan` and `brute` category. It's best if we can add more categories like `vuln` to check the vulnerabilities and exploits or `fuzz` to create some fuzzer or something! (I don't have ideas for fuzzers).

for the beginning, `heartbleed_vuln` or `ethernal_blue_vuln` would be great!

let me know if there is any question.
Regards.

[2018-01-11 06:06] Ali-Razmjoo opened #12 "Create some new modules"
Hello everyone,

if anyone would like to add some few modules to the framework, that would be great for our growing framework. some of a few ideas:

* simple udp, syn, ack port scan
* simple icmp scan (ping test)
* phpmyadmin scan
* wappalyzer scan for http
* a few more brute force modules (http (basic auth, ntlm, form), telnet, and so on)

let me know if there is any question.
Regards.

[2018-01-11 06:13] Ali-Razmjoo opened #13 "Select modules for scanning by using the category"
Hello everyone,

Right now we can select the modules with `-m` switch and it works like:
[code]
but it does not support the `*_scan` or `*_brute` or in future `*_vuln` (`*_x`). It's best to add the `*` pattern.

Just notice that, if anyone select anything, we must check if its not returning empty! (`*_blabla`) will return nothing!

you can develop it by adding a custom rule in `check_all_required`

[2018-01-11 07:58] Ali-Razmjoo opened #14 "Add category to events"
Hello everyone,

There are 6 keys in the event. which are:

[code]

It would be better if we add `CATEGORY` in the event. to do this, you need to add it to all available modules in `lib/scan` and `lib/brute`.

note: please update the #4 after the task finished.

Let me know if there is any question.
Regards.

[2018-01-11 08:24] Ali-Razmjoo commented on #14
new event key `CATEGORY` added to #4.

Feature Added [successfully](https://travis-ci.org/viraintel/OWASP-Nettacker/builds/327576367?utm_source=github_status&utm_medium=notification).

[2018-01-11 08:24] #14 closed

[2018-01-11 08:59] Ali-Razmjoo opened #15 "Create profile switch"
Hello Everyone,

It would be great if the framework has `--profile` switch to auto select some modules and options for users. for example `--profile port_scan` to select all port scanning available modules.

just notice that we don't have many modules yet and it's different with default scanning profile. default scanning profile will be automatically selected from `config.py`.

Let me know if you

[2018-01-11 09:25] Ali-Razmjoo commented on #13
Hi,

It's done, but we need to add `*_category` pattern to the documents (#1) and wiki.

Regards.

[2018-01-11 09:25] #13 closed

[2018-01-11 13:02] Ali-Razmjoo opened #16 "A better target calculation"
Hello everyone,

When the framework starts, It starts processing on targets and calculate the number of them. (getting subdomains, IP ranges and etc). this process is in the `core/parse.py` by calling the `analysis` function from `core/targets.py`.

`core/parse.py`:

[code]

as you see, first it's calculating the `total_targets` and then it's recalling the function **again** to get the targets.

I

[2018-01-11 13:07] Ali-Razmjoo opened #17 "Implement a subdomain scanner"
Hello everyone,

The framework subdomain scanner (`-s`, `--sub-domains` switch) is using [sublist3r](https://github.com/aboul3la/Sublist3r). we will need to add a `subdomain_scan` in our module in future BTW it would be great if we could remove this tool from `lib/sublist3r` and replace it with our own subdomain scanner. or if anyone has a better idea?

if you look into `core/targets.py`, you will

[2018-01-11 13:13] Ali-Razmjoo opened #18 "IPv6 Support for OWASP Nettacker Framework"
Hello everyone,

Currently the framework supports 5 types of target input. `IPv6`, `RANGE_IPv4`,  `CIDR_IPv4`, `DOMAIN`, `HTTP`.

[code]
The biggest missing feature is support `IPv6`.  I glad if anyone can help to improve the framework to support `IPv6`, `RANGE_IPv6` and `CIDR_IPv6`.  target types are defined in `core/targets.py`.

let me know if you have any question,

Regards.

[2018-01-12 07:29] #10 closed

[2018-01-12 13:29] Ali-Razmjoo commented on #5
Hello,

`-W`/`--wizard` switch now is available in the framework! #1 docs need to be added!

Regards.

[2018-01-12 13:40] #5 closed

[2018-01-12 15:59] Ali-Razmjoo commented on #9
Hello,

It's better now! (almost fixed)

Regards.

[2018-01-13 11:47] Ali-Razmjoo commented on #17
Hello,

I added the subdomain_scan module, and apply this module to the core, users are able to use with `-s`/`--sub-domain` switch or `-m subdomain_scan` depend on their purpose!

Regards.

[2018-01-13 11:47] #17 closed

[2018-01-13 13:16] Ali-Razmjoo commented on #16
Hello,

Issue fixed by saving subdomain scan results in a temporary file and using a enumerate flag.

Regards.

[2018-01-13 13:16] #16 closed

[2018-01-14 08:47] Ali-Razmjoo commented on #15
Hello,

This task is done, we need to update documents #1 for this.

Regards.

[2018-01-14 08:47] #15 closed

[2018-01-15 11:46] Ali-Razmjoo commented on #11
Hello,

The `vuln` category added to the framework.

Regards.

[2018-01-15 11:46] #11 closed

[2018-01-15 19:16] ArianPH opened #19 "Create Maltego Transaction for OWASP-Nettacker (Local & Server)"
Hi everyone,

I want to create Maltego transaction for the framework, first, I will create a local transaction and then develop and complete that, we may start a server-based transaction in the second phase.

Let me know if you have suggestion about this.

Regards.

[2018-01-16 03:41] Ali-Razmjoo commented on #19
Hello Arian,

Thank you for your idea, please start the first phase ( the local transaction) and let me know the details. The second phase (server-based transaction) needs its infrastructure that we don't have yet, but we will in the near future.

We welcome any contributions from developers.

Regards.

[2018-01-17 18:47] omdmhd commented on #7
Hello ,
Do you have any specific idea for a better HTML output ?
Don't you think that it is better that all kind of graphs having the same HTML output ?
I suggest `d3_tree_v1_graph,d3_tree_v2_graph` be like ` jit_circle_v1_graph `

[2018-01-18 06:48] Ali-Razmjoo commented on #7
Hello,

I am like those HTML templates, so at the beginning, I just used those templates temporary to improved them later! As you can see in the issues (enhancements) we are working on new modules to provide a better scanner with more details, but due we are still in core optimization phase, we cannot develop modules much!

BTW, It's best to use the same HTML template that we want to use in explor

[2018-01-18 21:54] Ali-Razmjoo commented on #1
Hello,

I made the first GIF demo with simple commands.  If anyone would like to help here, I'll glad to receive more videos/gif/documents.

![2018-01-19_0-45-07](https://user-images.githubusercontent.com/7676267/35123376-283d5a3e-fcb7-11e7-9b1c-92b78ed4fecc.gif)

Regards.

[2018-01-19 19:36] omdmhd commented on #7
Hello,
Well,surely i like to work on this project . and doesn't matter which part  .
but if we are going to make something like [shodan](https://www.shodan.io/) or  [censys.io](https://censys.io/) . I think it is necessary to first create local database and then we improve the HTML template to be something like [censys.io](https://censys.io/) .

[2018-01-19 19:52] Ali-Razmjoo commented on #7
Hi @omdmhd ,

You are right about the local database should be the first, so it's best you work on other parts at the moment. (I'm working on API). it's best if someone could re-check language [libraries](https://github.com/viraintel/OWASP-Nettacker/tree/master/lib/language) and sync others with English library (even with the google translate).

I may recommend you to work on developing new module

[2018-01-19 21:12] ravindra1307 commented on #12
i will take this. currently i am understanding the code ,i will start working on adding basic module in few days.it will be helpful if you provide me guidance on this .

[2018-01-20 08:29] Ali-Razmjoo commented on #12
Hello @ravindra1307,

Please check the [documentation](https://github.com/viraintel/OWASP-Nettacker/wiki/Developers),  and also you may analysis the present modules to get to know the codes better.

Regards.

[2018-01-20 11:13] omdmhd commented on #12
Hi @Ali-Razmjoo
What do you mean exactly by phpmyadmin scan ?
is it going to find the phpmyadmin by searching through directories for names "like pma" or "phpmyadmin"? and after it found the service, detecting the version name and other stuffs ?

[2018-01-20 11:15] Ali-Razmjoo commented on #12
Hello,

Yes, It should be like dir_scan (this module has a few more options) but
for detecting phpmyadmin only.

Sincerely yours,

Ali Razmjoo

On Jan 20, 2018 2:43 PM, "omdmhd" <notifications@github.com> wrote:

Hi @Ali-Razmjoo <https://github.com/ali-razmjoo>
What do you mean exactly by phpmyadmin scan ?
is it going to find the phpmyadmin by searching through directories for
names "like pma" or

[2018-01-25 09:37] Ali-Razmjoo commented on #4
Hello,

API for submitting new task(s) (new scan) is completed.

Switches:
[code]
* default `--api-host` is `127.0.0.1`, it could be change to `0.0.0.0` or any host!
* default ` --api-port` is `5000`
* use `--api-debug-mode` to enable API debugging
* default `--api-access-key`  is a random `MD5`, but you may change it with this switch, please notice that choose something hard to prevent brute forc

[2018-01-25 11:07] Ali-Razmjoo commented on #4
Hello,

API access log could be used with `--api-access-log` now and you can change filename with `--api-access-log-filename`. the default filename is `nettacker_api_access.log`.
* Sample log file
[code]

Regards.

[2018-01-28 15:45] Ali-Razmjoo opened #22 "prevent collision while writing logs"
Hello everyone,

While I was testing the frameworks, I notice that sometimes when the modules are writing the logs some collision happens.

[code]

it's best to add a function to the core and use it for locking the file and waiting for unlocking and replace all logging with this function.

sample function:
[code]

Let me know if anyone can help with this.

Regards.

[2018-01-28 15:48] ravindra1307 commented on #22
i will help you with this.
will you be able to provide me some approach or tips so that i can speed up my work

[2018-01-28 16:07] Ali-Razmjoo commented on #22
Hello,

you have to create a function in `core/log.py`, inputs must be the filename, file writing mode (append[`a`], append-byte[`ab`], write[`w`], write-byte[`wb`]), content.

after getting the inputs you must check if the file is lock wait, and if it's not you may lock it (to prevent other processes open it) and write the content.

after that, each write functions should be fixed in the modules,

[2018-01-29 14:01] ravindra1307 commented on #22
thanks i will soon update the project with this lock feature

[2018-01-29 14:14] #18 closed

[2018-01-29 17:20] avhvr commented on #22
Hey, I have a solution that will work on windows too.
Shall I give a try? If so do I need to replace all the write code like save.write(), thread.write(), etc.,

[2018-01-29 18:05] Ali-Razmjoo commented on #22
Hello,

I glad if you can share your solution, @ravindra1307  is working on this, feel free to help and push your code.

Regards.

[2018-01-29 18:25] ArianPH opened #23 "Problem in run from other Directories"
Hello everyone,

While running this framework on my machine (in MacOS) I've been notice that there is a different between running from "Working Directory" and from other Directories.

I think its because the framework can't read (find) its own files when "Working Directory" & "Location of Framework" are different; and when framework run from directories which are NOT the working directory, it can'

[2018-01-30 19:38] ArianPH commented on #23
Hello everyone,

Solution has been find.

fixing...

Regards.

[2018-01-30 19:41] Ali-Razmjoo commented on #23
Hello,

I'd re-open it, Please re-close this after you make your PR.

Regards.

[2018-01-31 16:14] Ali-Razmjoo commented on #22
Hello,

Thank you @avhvr, your contribution fixed this issue.

Regards.

[2018-01-31 16:14] #22 closed

[2018-01-31 16:36] Ali-Razmjoo commented on #12
Hello,

Thanks for the recent module(s), let me know if anyone would like to add `wappalyzer` as a scan module to the framework.

Regards.

[2018-01-31 16:41] ravindra1307 commented on #12
i want to help to add this scan module,kindly provide me some guidance on how to start working on this module

[2018-01-31 16:57] Ali-Razmjoo commented on #12
Hey,

`wappalyzer` is a framework to analysis HTTP response, (you can see the browser version by installing it on chrome/firefox...)

it's using some `JSON` library to detect the technologies using header and response body and it's awesome for information gathering.

* Github https://github.com/AliasIO/Wappalyzer
* js libs: https://github.com/AliasIO/Wappalyzer/blob/master/src/

I also found a pyt

[2018-02-03 16:18] Ali-Razmjoo opened #27 "bug in new function "core.log.__log_into_file""
Hello,

I was testing the framework with `-t 1000 -M 1000` threads and I've seen sometimes there is a deadlock in this function.  Now the framework has a small SQLite database which I used for the web interface and the API. To prevent the deadlock we must remove `flock` and write the logs directly to the database `hosts_log` table. we may use the threads for inserting them (to avoid decreasing spe

[2018-02-03 16:39] Ali-Razmjoo opened #28 "slow calculation in graphs"
Hello,

In general, we have 3 types of graph, which 2 of them are unique. I used a very bad algorithm to convert the JSON logs of the framework to the JSON graph type.

* our JSON structure:
[code]

* [d3](https://github.com/viraintel/OWASP-Nettacker/blob/master/lib/graph/d3_tree_v1/engine.py) JSON structure
[code]
* [jit](https://github.com/viraintel/OWASP-Nettacker/blob/master/lib/graph/jit_circ

[2018-02-03 18:56] Ali-Razmjoo opened #29 "setup.py is not working well"
Hello,

@ArianPH notice me that `setup.py` is not working well, It seems we have some issues on macOS and ubuntu. (Arian is working on the solution right now. if anyone has some ideas we are glad to hear them.

I tested it on windows, it's working fine....

Regards.

[2018-02-03 19:29] Ali-Razmjoo opened #30 "complete the subdomain_scan"
Hello,

there is an uncompleted task in `subdomain_scan` module which needs to be [done](https://github.com/viraintel/OWASP-Nettacker/blob/master/lib/scan/subdomain/engine.py#L33). I glad if anyone could help to add this two resources in this module.

[code]

Regards.

[2018-02-03 22:43] ArianPH commented on #23
Hello,

PR has been send.

Regards.

[2018-02-03 22:43] #23 closed

[2018-02-03 23:20] Ali-Razmjoo commented on #23
Thank you.

[2018-02-03 23:31] Ali-Razmjoo opened #33 "Python3 ssh_brute error"
Hello,

There is a bug in the `ssh_brute` module. I glad if anyone could help!

[code]

Regards.

[2018-02-03 23:41] Ali-Razmjoo opened #34 "add a filepath function"
Hello,

in the #31 PR, I've seen using `filepath = os.path.dirname(os.path.dirname(os.path.realpath(__file__)))` many times, It would be great if we add a function for it in the `core.load_modules` and every time we need the path we just call the function. Let me know if anyone would like to work on this.

Regards.

[2018-02-03 23:47] Ali-Razmjoo commented on #29
Hello,

Thank you for PR, it has a few issue on windows. I'm working on it...

Regards.

[2018-02-04 01:22] Ali-Razmjoo commented on #29
Hello, a few bugs fixed,
but it's still has errors.

[code]

[code]

[2018-02-04 13:30] #34 closed

[2018-02-04 14:49] Ali-Razmjoo commented on #33
Hello,

it seems change error to `str` type fixed the problem.

Regards

[2018-02-04 14:49] #33 closed

[2018-02-04 17:41] Ali-Razmjoo commented on #27
Hello,

Bugs fixed, #1

Regards.

[2018-02-04 17:41] #27 closed

[2018-02-04 20:24] Ali-Razmjoo commented on #29
Hello,

It's done. #1

Regards.

[2018-02-04 20:24] #29 closed

[2018-02-05 09:12] avhvr commented on #28
Hello,
I'd like to work on this. Can you help me with an approach?

[2018-02-05 13:26] Ali-Razmjoo commented on #28
Hey,

you can see the information is passing to the [start() function](https://github.com/viraintel/OWASP-Nettacker/blob/master/lib/graph/d3_tree_v1/engine.py#L10).

[code]
the `data` is generated JSON data from the framework, and it has to be changed to the graph structure. OWASP Nettacker JSON data starts with an array, and then events.

[code]
but d3 starts with a key `name` and an array `child

[2018-02-05 21:47] avhvr commented on #28
I didn't find any results/result folder after a scan is completed where the scan details are generated to HTML files as usual ? Do you also have the same problem @Ali-Razmjoo ? It is also showing that I'm not using the latest version even I/m using the latest one. Can you check and confirm?

harsha@CYBERSAPIEN10:~/github/OWASP-Nettacker$ python3 nettacker.py -i exploringthing.com -m all

   ______

[2018-02-05 23:34] Ali-Razmjoo commented on #28
Hello,

in the last version results folder moved to `~/.owasp-nettacker/results`. it's equal to `C:\Users\user\.owasp-nettacker\results`, `/home/user/.owasp-nettacker/results` ...

that last version error would be fixed after our first release, please ignore that!.

if you want to change the output file, use `-o file.html`, `-o file.txt`, `-o file.json`.

Regards.

[2018-02-06 13:51] senaps opened #36 "i can make video tutorials in both english and persian, but need help!"
so, i have been following the project for a few month's now and always wanted to contribute, but have no clue what this is and what it does. im just watching the code, i know part's of it and how it works, but since i have no background on security and what all these security terms mean, i can't figure it out.
if there was a helping content that i could use, like how to setup a lab and test the be

[2018-02-06 17:20] ravindra1307 commented on #30
sir, i am trying to add new resources but during testing i realized that subdomain scan module is not working properly .please test it or guide me if i am doing something wrong.

"
python nettacker.py -i facebook.com -m subdomain_scan
python nettacker.py -i google.com -m subdomain_scan"

this is the commands i am using.

[2018-02-06 21:15] Ali-Razmjoo commented on #30
Hello,

it's working fine for me! whats the error?

[code]

results:
[code]

[code]

results:

[code]

[code]

results:

[code]

just keep in mind, by default results will save in `~/.owasp-nettacker/results/result_date_time_randomchar.html`

and if you want to print results on your screen you need to use `--verbose 5` switch.

[code]

Regards.

[2018-02-06 21:24] Ali-Razmjoo commented on #36
Hello Meysam,

thank you for supporting us, if you would like to create videos it's best to start with "how to install" and then "how to use" for newbie users. there is two section we need to be covered now, command lines and API. we also appreciate improving documents for the wiki and fix/update the language library which located in [here](https://github.com/viraintel/OWASP-Nettacker/tree/master/

[2018-02-07 13:20] Ali-Razmjoo commented on #9
hello,

working on new upgrades...

regards.

[2018-02-07 14:01] Ali-Razmjoo opened #38 "add retries to database queries"
Hello,

I am working on this error `[!] could not connect to the database!`, it happens when multi-threads want to execute a query together.

[code]

I going to solve this issue by adding a retries loop with `0.01` sleep time. let me know if you have a better idea.

Regards.

[2018-02-07 15:25] Ali-Razmjoo commented on #38
Hello,

I added this two functions.

[code]

use `send_submit_query` for insert and delete (those which need commits in db) and `send_read_query` to get results (like `select`)

Regards.

[2018-02-07 15:25] #38 closed

[2018-02-07 19:12] Ali-Razmjoo commented on #36
Hey Meysam,

I'd to close this issue, feel free to re-open it if you've any more questions.

Best Regards.

[2018-02-07 19:12] #36 closed

[2018-02-10 15:21] avhvr commented on #28
Hello,

I have an easier way to convert the **data** into **d3** json structure

[code]
I'll also do it for **jit** json structure.

[2018-02-10 15:51] Ali-Razmjoo commented on #28
Hello @avhvr,

Thank you for your idea, feel free to send your code through the PR. any contributions are welcomed.

Best Regards.

[2018-02-10 16:25] Ali-Razmjoo commented on #9
Hello,

there is a fundamental problem in multithreading in this framework. last night I push some [codes](https://github.com/viraintel/OWASP-Nettacker/tree/0c9147d248a1bf747d0ea5470a36c8455b058942) to enable an option if the user wants to use multi-threading instead of multiprocessing.

this is how the framework was working:
![1](https://user-images.githubusercontent.com/7676267/36063615-5325fa50

[2018-02-12 21:24] shaddygarg commented on #30
Hello, I would like to work on this issue if no one is currently working on it.

[2018-02-13 00:47] Ali-Razmjoo commented on #30
Hello @shaddygarg,

Thank you for beginning a volunteer, let @ravindra1307 update us if he is working on this?

Best Regards.

[2018-02-13 07:45] ravindra1307 commented on #30
working on this will update you in a day or two.

[2018-02-13 23:35] Ali-Razmjoo commented on #28
Hello,

Thanks for the contributions. issue fixed.

Best Regards.

[2018-02-13 23:35] #28 closed

[2018-02-14 06:15] shaddygarg commented on #12
Hey, I would like to contribute towards this project. Can I take up the issue for adding icmp scan?

[2018-02-14 06:25] Ali-Razmjoo commented on #12
Hello @shaddygarg,

Yes, feel free to contribute and send PR. in that case you may also check the `lib/icmp` library that used for `--ping-before-scan` switch. you can use it too.

Best Regards.

[2018-02-14 07:48] shaddygarg opened #43 "Developers wiki shows core/aler instead of core/alert"
In developers wiki under the Considerations heading(https://github.com/viraintel/OWASP-Nettacker/wiki/Developers#considerations) and alerts subheading, code snippets show `core/aler` instead of `core/alert`. Here is the attached screenshot :

[2018-02-14 08:04] Ali-Razmjoo commented on #43
Hi,

thanks for noticing, I'll update the wiki soon, the documents also are old and needs to be updated.

Best regards.

[2018-02-14 08:22] shaddygarg commented on #43
I tried to correct it myself but Github doesn't support pull requests on wiki and I don't have the editing rights to the main wiki. :)

[2018-02-14 10:07] shaddygarg opened #44 "Multiple imports of random in pma_scan module"
The file engine.py in pma_scan module has multiple imports of random https://github.com/viraintel/OWASP-Nettacker/blob/master/lib/scan/pma/engine.py#L10 and https://github.com/viraintel/OWASP-Nettacker/blob/master/lib/scan/pma/engine.py#L12
_________________
**OS**: `Ubuntu`

**OS Version**: `17.10`

**Python Version**: `2.7`

[2018-02-14 15:10] senaps opened #46 "the wizard looks broken!"
see the image! this is what i saw when i wanted to create a video tutorial on how to use the app.
this is zsh, but i tested with normal bash and had the same result! :)
[image](http://uupload.ir/files/j3hk_screenshot_2018-02-14_18:36:58.png)
_________________
**OS**: `UBUNTU 17.10`

**OS Version**: `17.10`

**Python Version**: `3.6.3`

[2018-02-14 17:57] Ali-Razmjoo commented on #46
Hello,

thank you for reporting the issue, please give me some time to review it.

regards.

[2018-02-14 18:00] Ali-Razmjoo commented on #43
Hello,

Yes, unfortunately github does not supports PR on wiki.

I'll fix it soon.

regards.

[2018-02-14 18:02] Ali-Razmjoo commented on #44
Hello,

Thank you for sharing issue, I'll check it soon.

Regards.

[2018-02-14 18:18] Ali-Razmjoo commented on #44
Hey,

I've seen it's importing double, so let me close this issue and check your PR.

Best Regards.

[2018-02-14 18:18] #44 closed

[2018-02-14 19:00] #46 closed

[2018-02-14 19:01] Ali-Razmjoo commented on #46
Hi,

Bug fixed, thank you for your report.

Best Regards.

[2018-02-14 19:59] shaddygarg commented on #4
Hello,
Can you let me know the features that are yet to be implemented in the API and if I could possibly work on some of them!
Regards.

[2018-02-16 01:57] Tikam02 commented on #1
@Ali-Razmjoo  i would like to contribute and make a readthedocs documentation and wiki pages for Nettacker.

[2018-02-17 06:37] Ali-Razmjoo commented on #1
Hello,

Probably I should work on them to write the first version of documents, after that, you may contribute for corrections, update, video tutorials and etc.

Best Regards.

[2018-02-17 06:52] Ali-Razmjoo opened #48 "multiple bugs in the modules"
Hello,

Thanks to @shaddygarg for the recent contribution on #45, now we can see all of the `vuln`, `scan`, `brute` module have the same bug as `pma_scan`. I glad if anyone would send a fix through the PR.

Best Regards.

[2018-02-17 06:59] shaddygarg commented on #48
I will be glad to take up the issue!

[2018-02-17 07:17] Ali-Razmjoo opened #49 "A better ICMP library"
Hello,

I just notice that in #47 the `lib/icmp` and `icmp_scan` need to run as root to be working, I glad if someone can give us a better solution and contribute a new lib and replace the libraries.

let me know if anyone has any idea.

Best Regards.

[2018-02-18 04:40] Tikam02 commented on #6
@Ali-Razmjoo  Integrating Nettacker with Django will be best.Django for GUI, fast database and reports like HTML report or xml reports.And in the back Nettacker will be processing.

[2018-02-18 04:45] Ali-Razmjoo commented on #6
Hello @Tikam02,

I already have gone with flask, and API is almost working, use `--start-api` to check it up.

Regards.

[2018-02-18 05:14] Ali-Razmjoo commented on #48
Thanks, Done.

[2018-02-18 05:14] #48 closed

[2018-02-18 07:34] Tikam02 commented on #12
@Ali-Razmjoo I built a admin scanner which scans all admin pages, checks for robot.txt, big path lists.
But the problem is i don't know from which original file it has to be imported so that it'll run in the main script. @shaddygarg help me to implement this script as you had recently done it.
![screenshot from 2018-02-18 12-56-50](https://user-images.githubusercontent.com/10548085/36349374-5c4a16

[2018-02-18 08:47] Ali-Razmjoo commented on #12
Hello @Tikam02,

I'll contact you through the email to get more details.

Regards.

[2018-02-18 17:14] SriHarshaGajavalli commented on #30
Hi,
May I know if anyone is working on this? I would like to work if no one is working.

[2018-02-18 18:49] SriHarshaGajavalli opened #51 "Feature Enhancement"
Hi,
How about developing Web Application Scanner? If you are looking to have and isn't already available, I am ready to develop it.

**OS**: `Ubuntu`

**OS Version**: `16.04`

**Python Version**: `3.5`

[2018-02-18 22:01] Ali-Razmjoo commented on #51
Hello,

Please share more details, do you want to create a web application fuzzer, or crawler or all of them. just in case you looking for suggestions, you can create scanners for specific CMS (wordpress, joomla, vbulletin, drupal, and ....).

feel free to contribute and send PR.

Regards.

[2018-02-19 01:26] SriHarshaGajavalli commented on #51
I will start with Fuzzing technique to scan vulnerabilities of a web app. Crawling can be added to it later.

[2018-02-19 14:44] Tikam02 commented on #12
@Ali-Razmjoo  sorry for the trouble, now i understood the whole framework.how it works and in my scripts passing arguments were the causing errors.I'll contribute and make PR asap.

[2018-02-19 15:20] Tikam02 commented on #12
@Ali-Razmjoo  sorry for the trouble, now i understood the whole framework.how it works and in my scripts passing arguments were the causing errors.I'll contribute and make PR asap.

[2018-02-20 16:36] ThorodanBrom commented on #1
@Ali-Razmjoo what have you used to make the GIFs? I was going to try it our myself, and am thinking of using [https://asciinema.org/](url)

[2018-02-20 17:43] Tikam02 commented on #1
If using kali Linux there is already a built-in video recording plugin, and ubuntu also has lots of video and gif creators apps.

[2018-02-22 17:37] shaddygarg commented on #12
Hey all,
@Tikam02, I was busy with my exams, and hence could not reply. Let me know if you need any help now. @Ali-Razmjoo, I would like to work on the telnet and the http brute modules. Can I take up the issue?

[2018-02-23 19:03] pradeepjairamani commented on #12
Hey,

I would like to add FTP vulnerability scanner which will find vulnerable versions of services running on FTP, if no one is doing that currently.

[2018-02-25 09:01] Ali-Razmjoo commented on #1
Hello,

@ThorodanBrom asciinema is also a great thing for making tutorials. I made them with snagit on windows. there are several tools for any OS. let me know if you need more information, just share us more details.

@Tikam02 thank you for guides

Regards.

[2018-02-25 09:05] Ali-Razmjoo commented on #12
Hello,

@Tikam02 , I am upgrading the documents. please be patience.
@shaddygarg, yes, you may work on http and telnet brute.
@pradeepjairamani, feel free to send your PR.

if you have some troubles with creating new modules, please wait until the documents are ready and then you may ask questions.

Best Regards.

[2018-03-06 09:28] pradeepjairamani opened #60 "Issue in stealth scan in port scan"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux`

**OS Version**: ` Linux ubuntu 3.13.0-32-generic `

**Python Version**: `2.7.3`

![screenshot from 2018-03-06 01_16_23](https://user-images.githubusercontent.com/24669027/37023969-9dda5e3a-214d-11e8-9e32-c9b757846e82.png)

[2018-03-06 12:27] Ali-Razmjoo commented on #60
Hello,

thank you for reporting this bug, BTW you should use `--method-args port_scan_stealth=True`

Best Regards.

[2018-03-06 13:09] pradeepjairamani commented on #60
I understand the point but we should use try except for that so the code shouldn't show any errors,
I have resolved the bug in my last commit

[2018-03-06 13:56] pradeepjairamani opened #61 "Issue with port scan module when using --method-args port_scan_stealth=true"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux `

**OS Version**: `Ubuntu`

**Python Version**: `2.7.3`
![screenshot from 2018-03-06 05 48 15](https://user-images.githubusercontent.com/24669027/37035934-212a083c-2174-11e8-94dd-47c7d5520322.png)

[2018-03-06 14:23] pradeepjairamani commented on #61
These lines are creating the error because there isn't any conf file to import these variables

 conf.verb = 0
 conf.nofilter = 1

After Removing them the scanner doesn't perform port scanning.
![screenshot from 2018-03-06 06 21 01](https://user-images.githubusercontent.com/24669027/37037199-c9e4d044-2177-11e8-9bf5-88e05aa40a6c.png)

[2018-03-06 16:04] Ali-Razmjoo commented on #60
Hello,

Please let this discussion be open until we fix the bug. this bug should be fixed in [here](https://github.com/viraintel/OWASP-Nettacker/blob/master/core/args_loader.py#L516), and thank you for your contribution.

Regards.

[2018-03-06 16:08] shaddygarg commented on #12
Hey @Ali-Razmjoo,
I was looking for a way to implement the http-wappalyzer module. I saw the link to the repo(https://github.com/scrapinghub/wappalyzer-python) which you mentioned but I encountered some errors in setting it up. I have found a similar implementation in python ([link to the repo](https://github.com/chorsley/python-Wappalyzer/tree/master/Wappalyzer)). Can you look into it and see if

[2018-03-06 17:48] pradeepjairamani commented on #60
Sorry got a little confused there.
I will try to fix the bug here as well 😎

[2018-03-06 17:49] Ali-Razmjoo commented on #12
Hello,

I just introduce the repo to show a sample, I didn't mean to use any repo.

Regards.

[2018-03-07 17:27] Tikam02 commented on #4
Hello,
Actually i want the same thing for the APIs frontend yet to be implemented as mentioned above by @shaddygarg  so we can  work on them.
Regards.

[2018-03-08 11:46] Ali-Razmjoo commented on #4
Hi,

the API is completed. I gonna update documents regarding this, then we can discuss the new ideas.

Regards.

[2018-03-09 13:47] shaddygarg opened #62 "The scan methods in the readme need to be updated"
The readme does not have the latest scan methods included.

[2018-03-10 09:37] shaddygarg commented on #49
Hey @Ali-Razmjoo,
I read about the issue of running icmp scan as root but I can't seem to find a possible solution. This is because we need to create a raw socket while sending a icmp packet and linux doesn't allow creation of raw sockets without root privileges. Alternatively we can use the ping command to run in the background using os.system('ping host'). But it won't serve the same purpose as

[2018-03-10 15:09] Ali-Razmjoo commented on #62
Hello,

Thank you, PR merged. I think we need to update this once after the first release.

Regards.

[2018-03-10 15:09] #62 closed

[2018-03-10 15:22] Ali-Razmjoo commented on #61
Hello,

Thank you for reporting this issue, let me check it and get back to you.

Best Regards.

[2018-03-10 15:29] Ali-Razmjoo opened #65 "New language library"
Hello,

As the framework is growing, I think the existing language library I created to keep the message is not good enough for a bigger framework, using numbers make conflicts in PRs. I think it's better to change it before framework gets bigger.

my idea is, use the same libs structure, but use messages instead of numbers.

[code]

let me know if anyone would like to work on this. it has **prior

[2018-03-10 17:32] pradeepjairamani commented on #65
I understand the point and I am willing to help with this. Do I have to create those messages myself or will you give me the details because there are 180 total messages, and what about the different languages? Do I need to do this for all the languages or just english?

[2018-03-10 17:54] Ali-Razmjoo commented on #65
Hello,

thank you for your question, no English is in priority, also it just needs to change the identifier number, and find the message in the framework and replace it.
e.g.
[code]

Regards.

[2018-03-10 18:34] shaddygarg commented on #49
I would like to know your views on the above implementation.

[2018-03-10 20:27] pradeepjairamani commented on #65
I am having a little trouble understanding the problem.

like for example, we are giving numbers (1-180) for messages in our current method for fetching data from languages, you want me to change them from
def all_messages():
 ``   return
        {
            "0": "Nettacker engine started ...\n\n",
            "1": "python nettacker.py [options]",
            "2": "Show Nettacker Help Menu",

[2018-03-10 22:19] Ali-Razmjoo commented on #65
Hey,

if you mean choosing an id name, yes you may do it yourself, there are no any methods, just you may see what are they about and change them.

your example is also fine.

[code]

Thanks.

[2018-03-10 22:28] pradeepjairamani commented on #65
ok, I will solve this issue as soon as I can.

Best Regards

[2018-03-11 12:43] pradeepjairamani opened #66 "Http Basic Authentication using port :80:80 and giving false positive results"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux`

**OS Version**: `Linux Ubuntu`

**Python Version**: `2.7.3`
![screenshot_17](https://user-images.githubusercontent.com/24669027/37253417-875fa558-2557-11e8-92c6-290a36d97a0d.png)

[2018-03-11 12:44] pradeepjairamani opened #67 "Module Wappalyzer Scan is not Available"
![screenshot_16](https://user-images.githubusercontent.com/24669027/37253462-165f6072-2558-11e8-8635-26f512934a10.png)
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux`

**OS Version**: `Linux ubuntu`

**Python Version**: `2.7.3`

[2018-03-11 12:46] pradeepjairamani opened #68 "Index Error in http_basic_auth"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux`

**OS Version**: `Linux ubuntu`

**Python Version**: `2.7.3`
![screenshot_15](https://user-images.githubusercontent.com/24669027/37253479-3251108c-2558-11e8-8262-2660a69af6ac.png)

[2018-03-11 12:48] pradeepjairamani opened #69 "Module http form brute not available"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux'

**OS Version**: `Linux Ubuntu`

**Python Version**: `2.7.3

![screenshot_18](https://user-images.githubusercontent.com/24669027/37253503-8ba34f1a-2558-11e8-9f68-87c7106950c3.png)
`

[2018-03-11 12:59] shaddygarg commented on #67
I cloned the master and the module is running fine on my system :
![screenshot from 2018-03-11 18-24-19](https://user-images.githubusercontent.com/21990986/37253611-020c4d22-255a-11e8-8e01-d68236148c4b.png)
Perhaps you don't have bs4 installed into your system.

[2018-03-11 13:04] shaddygarg commented on #69
This issue was due to a change in the language library. I will send a fix soon.

[2018-03-11 13:11] pradeepjairamani commented on #67
Yes, I have also used "master" for testing it again please check if any modules are needed which are available in your system for running wapalyzer but not present in requirements.txt

Bes Regards
Pradeep Jairamani

[2018-03-11 13:12] shaddygarg commented on #66
I did not consider into the possibililty when the mentioned host doesn't have the authentiation. Thanks for telling me a corner case. I will send a fix soon!! :smile:

[2018-03-11 13:16] pradeepjairamani commented on #66
I suggest you should use Owasp-DVWA for testing web modules.

Best Regards
Pradeep Jairamani

[2018-03-11 13:18] shaddygarg commented on #67
No, only bs4 is required for running this
Regards.

[2018-03-11 13:29] pradeepjairamani commented on #67
Hello,

I am able to run it on a windows system but fail to run it on a Linux system, can you please confirm?

Best Regards
Pradeep Jairamani

[2018-03-11 13:37] pradeepjairamani commented on #67
Hello

Sorry, There was an issue with my system. I installed BeautifulSoup instead of BS4.
Please edit the requirements.txt file.

Best Regards
Pradeep Jairamani

[2018-03-11 16:08] Ali-Razmjoo commented on #65
Thank you @pradeepjairamani. fixed.

[2018-03-11 16:08] #65 closed

[2018-03-11 16:31] Ali-Razmjoo commented on #69
Hey,

Thank you, the merged PR fixed the issue.

Best Regards.

[2018-03-11 16:38] Ali-Razmjoo opened #73 "module http_ntlm_brute is not available"
Hello,

check the latest test on [TravisCI](https://travis-ci.org/viraintel/OWASP-Nettacker), this module having some errors.
[code]
Regards.
_________________
**OS**: `Linux`

**OS Version**: `using TravisCI`

**Python Version**: `2.x`, `3.x`

[2018-03-11 16:41] Ali-Razmjoo commented on #67
Hello,

Thanks for your contributions, should I mark it as fixed and close it?

Regards.

[2018-03-11 16:45] Ali-Razmjoo commented on #66
Hello,

Thanks for reporting this, I think to give the framework `:80:80` is related to the framework to detect the false `target` since we have a topic related to this module with the bug, I'd close this and open another one regarding the framework target types. let me know if you have any ideas.

Best Regards.

[2018-03-11 16:45] #66 closed

[2018-03-11 16:47] Ali-Razmjoo opened #74 "framework false target input check"
Hello,

It seems there is a bug in target types (#66), this bug came from `core/targets.py` [[1](https://github.com/viraintel/OWASP-Nettacker/blob/master/core/targets.py)]. feel free to contribute to this and send your PR.

Best Regards.

[2018-03-11 16:48] shaddygarg commented on #67
Yes, I have updated the requirements in the latest PR. This issue is fixed!!

[2018-03-11 16:49] shaddygarg commented on #73
Hey,
I will have a look into it and send a fix soon.
Regards.

[2018-03-11 16:52] shaddygarg commented on #74
Hey,
I would like to work on solving this bug and will soon send a PR.
Regards

[2018-03-11 16:54] Ali-Razmjoo commented on #61
Hello,

could you please enter these codes in python console and get me the results, I don't get any error!

[code]

BTW I've tested it on python `2.7.13`, maybe it's because you are using `2.7.3` ?

Regards.

[2018-03-11 17:17] Ali-Razmjoo commented on #67
Thank you, issue closed.

[2018-03-11 17:17] #67 closed

[2018-03-11 17:18] Ali-Razmjoo commented on #19
Hello @ArianPH ,

would you please send us updates regarding this feature? I am planning for GSoC, let me know if you are working on this.

Best Regards.

[2018-03-11 17:44] Ali-Razmjoo commented on #8
updates

![1](https://user-images.githubusercontent.com/7676267/37256504-d9aa97a0-2570-11e8-90eb-37f791d533e4.png)

![2](https://user-images.githubusercontent.com/7676267/37256505-d9e4ed56-2570-11e8-9f03-b892fae7937b.png)

![3](https://user-images.githubusercontent.com/7676267/37256506-da219634-2570-11e8-9c14-80f1c00467b6.png)

![4](https://user-images.githubusercontent.com/7676267/37256507-da5ad2

[2018-03-11 17:47] Ali-Razmjoo commented on #30
Hello @ravindra1307,

Would you please update us regarding this feature? let me know if you need any help.

Best Regards.

[2018-03-11 17:49] Ali-Razmjoo commented on #43
fixed, thanks.

[2018-03-11 17:49] #43 closed

[2018-03-11 17:50] Ali-Razmjoo commented on #49
Hello,

Please let me research on this topic, I will get back to you soon, thank you for sharing your solution.

Regards.

[2018-03-11 17:52] Ali-Razmjoo commented on #51
Hello @SriHarshaGajavalli,

You may use OWASP ZAP API and other OWASP projects to contribute this. I may close this issue, feel free to re-open the issue and send PR after adding a module. just notice that OWASP projects are in priority [[1](https://github.com/zaproxy/zaproxy/wiki/ApiDetails)]

Best Regards.

[2018-03-11 17:52] #51 closed

[2018-03-11 17:54] Ali-Razmjoo commented on #60
Hello,

I would close it and open a new issue for `args_loader.py` problem.

Best Regards.

[2018-03-11 17:54] #60 closed

[2018-03-11 17:58] Ali-Razmjoo opened #75 "args_loader upgrade"
Hello,

according to #60 issue, the `core/args_loader.py` is not working well and does not consider all possible commands. we can add a task to replace `--method-args port_scan_stealth` with `--method-args port_scan_stealth=True`. the default values for any `key` would be `True`.

e.g. `--method-args port_scan_stealth&port_scan_ports=1,2,3&dir_scan_random_agent` would be equal to `--method-args po

[2018-03-11 18:20] pradeepjairamani commented on #75
I tried understanding the code but I couldn't connect it

[2018-03-11 18:29] pradeepjairamani commented on #30
Can I add another module for subdomain scanning using abusing certificate transparency logs (only available for https website).
More info.
http://www.certificate-transparency.org

[2018-03-11 18:52] pradeepjairamani commented on #61
Sorry, it was a mistake on my side. There were some errors with scapy which are now resolved and it's working fine.
Closing this issue.

Best Regards
Pradeep Jairamani

[2018-03-11 18:52] #61 closed

[2018-03-11 19:31] Ali-Razmjoo commented on #30
hey @pradeepjairamani,

please if you want to add this, add it as a function in the same module, I used the module in core framework for `-s`/`--sub-domain` switch.

Regards.

[2018-03-11 19:32] Ali-Razmjoo commented on #75
Hey,

@pradeepjairamani I will take care of this.

thanks.

[2018-03-11 19:36] pradeepjairamani opened #77 "Version upgrade file showing errors"
Please Describe the issue or question and share your OS and Python version.

http://nettacker.z3r0d4y.com/version.py
the link which is used for checking the latest version of nettacker is throwing an error!

Header Info-
User-Agent : OWASP Nettacker

![screenshot_19](https://user-images.githubusercontent.com/24669027/37257328-463ebfd2-258e-11e8-9436-0d06f69ee52c.png)

[2018-03-11 20:22] shaddygarg commented on #68
Hey @pradeepjairamani,
I am unable to reproduce the issue. Can you tell me the command which you used to generate this error?
Regards

[2018-03-11 22:40] Ali-Razmjoo commented on #77
Hello,

there is an error on the server, it's checking the old file (version in the main file) I'll fix it soon.

Regards.

[2018-03-11 22:53] Ali-Razmjoo commented on #77
Hey,

Fix, thanks for reporting.

Regards.

[2018-03-11 22:53] #77 closed

[2018-03-11 23:07] shaddygarg commented on #74
Hey @Ali-Razmjoo,
I think that the issue can be closed. Can you tell me if there is still any issue that remains unaddressed?
Regards

[2018-03-11 23:18] #75 closed

[2018-03-11 23:24] Ali-Razmjoo commented on #75
Fixed.

[2018-03-11 23:27] Ali-Razmjoo commented on #74
Hey,

there was a simple [bug](https://github.com/viraintel/OWASP-Nettacker/commit/7254a096192ff0d9069f88b7c52912c12f3a3729) which I just fixed. `re.match('^([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}$', 't')` changed to `re.match('^([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,}$', t):`,
 (removed `'t'`). thanks for contribution. I may close it now.

Regards.

[2018-03-11 23:27] #74 closed

[2018-03-11 23:33] shaddygarg commented on #74
Oh, I get it. thanks for the informaton.
Regards.

[2018-03-11 23:34] shaddygarg opened #80 "Overflow of long texts in web"
The web UI doesn't handle the overflow when large number of scan methods are present.
![screenshot from 2018-03-12 05-01-37](https://user-images.githubusercontent.com/21990986/37259916-db7ef368-25b2-11e8-8a79-9de796b7d006.png)

[2018-03-12 00:29] shaddygarg opened #81 "No margin between various labels in firefox"
The margin doesn't seem to work in Firefox but it works fine in chrome.
![screenshot from 2018-03-12 05-53-18](https://user-images.githubusercontent.com/21990986/37260498-db50a56a-25b9-11e8-8387-d379f11b47b6.png)
![screenshot from 2018-03-12 05-53-39](https://user-images.githubusercontent.com/21990986/37260501-e0f6483a-25b9-11e8-8420-43d0ab381e26.png)

[2018-03-12 04:40] pradeepjairamani commented on #30
Or I can add a new scan method ctfr_subdomain_scan

[2018-03-12 06:52] pradeepjairamani opened #83 "Stealth Flag referenced before assignment"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linu`

**OS Version**: `Ubuntu`

**Python Version**: `2.7.3`

![screenshot_20](https://user-images.githubusercontent.com/24669027/37269359-fc818fe8-25ef-11e8-8ca2-d384154f0bed.png)

[2018-03-12 10:43] Ali-Razmjoo commented on #30
Hello,

in that case, we need to add another mode to the core, but if you'd add it to the existing module, that would be better. this module already has a few resources, it could be a good improvement.

[code]

Regards.

[2018-03-12 10:48] Ali-Razmjoo commented on #83
Hi,

thanks for your report, the last commit must be fixed it. feel free to re-open the issue if it's still having an error.

Best Regards.

[2018-03-12 10:48] #83 closed

[2018-03-12 11:33] #81 closed

[2018-03-12 11:34] #80 closed

[2018-03-12 19:22] pradeepjairamani commented on #68
Sorry, @shaddygarg  I am also unable to reproduce the issue and I also forgot which command I had used when this issue came.
give me a few days if I can't reproduce this bug, we will close it.

Best Regards
Pradeep Jairamani

[2018-03-12 22:14] pradeepjairamani opened #87 "Adding more data to vuln modules"
Proposed additional data to be added in vulnerability modules:

Name
Description
Risk rating
CVE
Solution
References

[2018-03-13 15:07] Ali-Razmjoo commented on #87
Hello,

Thanks for updating with this issue, it's actually a very good idea, let's grab a few references first. as you sent me we can use OWASP risk rating for the "risk rating".

Please provide a few more references and standards.

Thanks.

* https://www.owasp.org/index.php/OWASP_Risk_Rating_Methodology

[2018-03-13 15:20] pradeepjairamani commented on #87
Every Vulnerability has a CVE, and by searching that CVE we can find all the details about it.
Ex: For Bftpd_double_free vulnerability module
https://www.cvedetails.com/cve/CVE-2007-2010/
we can find the specific data from cvedetails,
it also has details about if any metsploit exploit exist for the vulnerability.

Best Regards
Pradeep Jairamani

[2018-03-13 15:33] pradeepjairamani commented on #87
The score on CVE details is defined by CVSS which is a widely used method for assessing the severity of computer system security vulnerabilities.
https://en.wikipedia.org/wiki/Common_Vulnerability_Scoring_System

More data about the CVE's can be found on
https://nvd.nist.gov/vuln/detail/CVE-2007-2010/

Best Regards
Pradeep Jairamani

[2018-03-13 15:39] pradeepjairamani commented on #30
Crt.sh method is already implemented in comodo crt. Anything else I can help with?

Best Regards
Pradeep Jairamani

[2018-03-13 16:03] Ali-Razmjoo commented on #30
Hey,

is crt.sh is the same? so you can go with https://transparencyreport.google.com/https/certificates

regards.

[2018-03-13 17:12] shaddygarg commented on #19
Hey @Ali-Razmjoo,
Can you please give me more information about this maltego transaction? Googling it yields no relevant results and I can only find some references of maltego transform. Is it related to https://www.paterva.com/web7/. Is this issue about visualizing the data effectively into an interactive graph module?
Regards.

[2018-03-13 17:53] Ali-Razmjoo commented on #19
Hey,

* Is this issue about visualizing the data effectively into an interactive graph module?
yes, it is.  references: https://docs.paterva.com/en/developer-portal/tds-transforms/trx-transform-library-guide/

Regards.

[2018-03-14 19:22] pradeepjairamani commented on #69
This is the job result of current commit, Please Reopen this issue as it is not resolved.

Best Regards
Pradeep Jairamani

![screenshot_2](https://user-images.githubusercontent.com/24669027/37425929-21b27d70-27eb-11e8-8693-1f5f328b7495.png)

[2018-03-19 14:37] #68 closed

[2018-03-19 17:19] Ali-Razmjoo commented on #68
Hello,

I cannot find any bugs either. in a few days, I will test and emulate all modules recently added to the framework to find the bugs.

Regards.

[2018-03-21 13:30] Ali-Razmjoo opened #90 "Join the OWASP ZSC to this framework?"
Hello,

To clarify, OWASP ZSC [[1](https://github.com/viraintel/OWASP-ZSC)] is open source software written in python which lets you generate customized shellcode and convert scripts to an obfuscated script. This software can be run on Windows/Linux/OSX with python.

Bringing OWASP ZSC to this project may help us to generate the trustable payloads for exploits (vulnerabilities category), also afte

[2018-03-21 16:24] shaddygarg commented on #90
Hey,

This is a great idea. I also think that OWASP ZSC should be added as a library like the icmp library so that other modules can use it to generate payloads. It would be a great addition to the existing framework. I am currently going through the ZSC code to see the way the modules are written.

Best Regards.

[2018-03-21 16:39] shaddygarg commented on #30
Hey @Ali-Razmjoo,

Can I take up this issue? It has been too long since an update on this issue.

Regards.

[2018-03-21 16:48] pradeepjairamani commented on #30
I am not currently working on this issue, so you can take it from my side.

Best Regards

[2018-03-21 16:59] pradeepjairamani commented on #90
Hello,

I think first of all adding ZSC to this project is a great idea and we should add ZSC as a library because all the modules will be using that.
Secondly, msfvenom and OWASP-ZSC nearly perform the same tasks so giving user the options of exploitation using both will be a good idea. Default option for exploitation will be fron ZSC because
of licensing problems.
References: https://github.com/

[2018-03-21 17:09] shaddygarg opened #91 "Docker build failing in latest commit"
I just saw that docker build fails on the latest commit. I am looking into the issue.
_________________
**OS**: `Ubuntu`

**OS Version**: `17.10`

**Python Version**: `2.7`

[2018-03-21 17:45] #91 closed

[2018-03-22 08:41] Ali-Razmjoo commented on #90
Hey,

thanks for the comments.

@shaddygarg OWASP ZSC codes are a little bit messy, but it has a great document in gitbook. feel free to look it up.
@pradeepjairamani great idea to make msfvenom optional.

let me know if anyone has any ideas and think its cool to make this feature available on this project.

Regards.

[2018-03-25 08:00] pradeepjairamani opened #94 "Error in threading (python 3.4, 3.5)"
Error Fetched from Travis CI
_________________
"os": "linux",

**Python Version**: "3.4","3.5"

![screenshot_9](https://user-images.githubusercontent.com/24669027/37872955-db6b34f4-302f-11e8-8744-072731302c9f.png)
![screenshot_10](https://user-images.githubusercontent.com/24669027/37872956-dbb4ed7e-302f-11e8-8187-b6d91be54176.png)

[2018-03-25 08:03] pradeepjairamani commented on #94
data = json.dumps(
                    {'HOST': host, 'USERNAME': '', 'PASSWORD': '', 'PORT': port, 'TYPE': 'port_scan',
                     'DESCRIPTION': messages(language, "port/type").format(port, "STEALTH"), 'TIME': now(),
                     'CATEGORY': "scan", 'SCAN_ID': scan_id,
                     'SCAN_CMD': scan_cmd}) + '\n'
                __log_into_file(log_in_file, 'a', data, lan

[2018-03-27 15:04] Ali-Razmjoo commented on #90
Hey,

I added fist simple library for making a sample in my latest commits. it's easy to use any payload now! the first payload is a shellcode generator for linux_x86 with add_randome (optional) obfuscating method!

* How to use?
[code]

@pradeepjairamani your password generator could be located in `lib/payload/password_generator`, feel free to create some new payload and generators for the projec

[2018-03-27 21:49] JeckyOH commented on #69
I pulled an request to solve this issue.
Just because the compatibility of HTMLParser and cookiejar modules between Python 2 and 3.

[2018-03-27 21:51] Ali-Razmjoo commented on #69
Hello @JeckyOH,

Thank you for your contribution, I'll check your PR and get back to you soon.

Regards.

[2018-03-27 22:02] JeckyOH commented on #73
@Ali-Razmjoo
The reason of this issue is the ImportError of pycurl module in lib.brute.http_ntlm.py.
The error looks like this:
`ImportError: pycurl: libcurl link-time ssl backend (openssl) is different from compile-time ssl backend (none/other)`
It is apparent that pycurl is compiled without specifying the backend as openssl.
Here is the solution: [Solution of different backend of PyCurl between

[2018-03-31 07:14] Ali-Razmjoo opened #97 "join multiple vulnerability scanner"
Hello,

I notice we added multiple modules to check the HTTP headers for misconfiguration/vulnerabilities  (e.g. xss protection, content type, etc.. ). It's best to join them into one module and keep the vulnerability information in a JSON and we can name it `header_based_vuln?`.

I glad if someone could work on this.

Regards.

[2018-03-31 07:21] Ali-Razmjoo opened #98 "Specific CMS Scanner"
Hey,

for the next levels of the modules and more complicated, we may start to bring CMS scanners into the OWASP Nettacker, OWASP already has a few (like [vbscan](https://github.com/rezasp/vbscan), [joomscan](https://github.com/rezasp/joomscan)) and we can start implementing from there.

I glad if anyone could help on this.

Regards.

[2018-03-31 08:20] pradeepjairamani commented on #98
Ok i will start on wordpress and drupal then.
Firstly I will check what cms is running on that site and according to that I will start the scanning.
Vb and joomscan will also be implemented.

Best Regards

[2018-04-02 20:40] pradeepjairamani commented on #97
how about making a directory structure for different vulnerabilities rather than having to combine all those vulnerabilities in one module as in if another developer wants to create a vulnerability for eg. header_based_vuln he will have to understand the entire data present in that module and editing those previously stable modules can cause instability and confusion.

Best Regards

[2018-04-03 10:43] Ali-Razmjoo commented on #97
Hey @pradeepjairamani,

 I am not sure I quite understand you, could you please explain more?

Regards.

[2018-04-03 10:48] pradeepjairamani commented on #97
So, you are asking to combine multiple modules into one single module which means a single engine.py for all the http header based vulnerabilities?
Doing that might create confusion for new developers and also can make the vulnerabilities unstable with each vulnerability being added. Better we should make folder structure like we discussed in cms scanner.
http_header_vuln > options_method >engine.

[2018-04-03 11:09] Ali-Razmjoo commented on #97
I get it! Until http_header_vuln > engine.py be exist,  it's not a problem!

[2018-04-03 11:14] pradeepjairamani commented on #97
Meaning?

[2018-04-03 11:15] Ali-Razmjoo commented on #97
I meant we can combine modules just like you suggested. every module in a category could be in a subdirectory as a class.

[2018-04-04 10:40] pradeepjairamani opened #101 "Kill switch acting before the module finishes"
Sometimes modules are not able to finish because of the kill switch, Adding two requests simultaneously in one thread takes time and the kill_switch kills the thread before it completes.

A simple fix will be

       while 1:
            time.sleep(0.1)
            kill_switch += 1
            try:
                if threading.activeCount() is 1 or kill_switch is kill_time:
                    bre

[2018-04-07 15:22] shaddygarg opened #103 "Shorthand names showing up in web view"
Both vuln and vulnerability are showing up in web view. Same is the case with info.
![image](https://user-images.githubusercontent.com/21990986/38456727-9210f296-3aa5-11e8-8862-197f315b27b2.png)
_________________
**OS**: `Ubuntu`

**OS Version**: `16.04`

**Web Browser**: `Firefox`

[2018-04-07 15:34] Ali-Razmjoo commented on #103
Hey Shaddy,

thanks for creating the issue, I think we may create a new `dict` for synonyms, in that case, we can locate it in the `core/config.py`.

[code]

we should also modify `core/args_load.py` and `api/api_core.py->__rules` to apply synonyms and replace them. in this way, synonyms will not be shown in web or API. let me know if you would like work on this, and if it's little complicated, I

[2018-04-07 15:46] shaddygarg commented on #103
Hey Ali,
I would love to work on this issue. Along with this, I think we should also make change in `api/api_core.py->__scan_methods` to prevent it from showing in HTML view. I am however unsure about the change in core/args_load.py. Are we looking to exclude these in the arguments too?
Regards.
Regards.

[2018-04-07 16:55] Ali-Razmjoo commented on #103
in that case, you can remove the synonyms from there, but if we have to define synonyms first!

[2018-04-07 17:02] shaddygarg commented on #103
The synonyms can be defined in the `core/config.py` file and the `api/api_core.py`can import them to exclude from the profiles shown in the API and the web view. I have implemented the same in #104.

[2018-04-09 11:10] pradeepjairamani commented on #87
Hello,

I have made an example for the issue please confirm the changes so that I can update the remaining modules.

Best Regards

![screenshot_15](https://user-images.githubusercontent.com/24669027/38494685-730cc576-3c14-11e8-81f6-f05c7664286a.png)

[2018-04-09 11:16] Ali-Razmjoo commented on #87
Thanks Pradeep,

I think its best to add more details into JSON structure for events and the database, hence @shaddygarg is working on the new SQL schema, I think its best to wait until its finished. what do you thing Shaddy?

Regards.

[2018-04-09 11:33] shaddygarg commented on #87
I am keeping the db schema the same. I am just migrating the sqlite3 module to sqlalchemy. The db structure will remain the same, so I don't think that this will affect my migration. However we will need to change the db structure after incorporating the suggested changes.

[2018-04-09 11:38] Ali-Razmjoo commented on #87
* `so I don't think that this will affect my migration.`
it requires modifying the database, are you sure about that?

[2018-04-09 11:43] shaddygarg commented on #87
The db structure which was earlier will remain the same. I am modifying the way we interact with the database not the structure of the database. I don't think it should affect me. The changes pradeep will make can be incorporated later into the db structure.

[2018-04-09 11:45] Ali-Razmjoo commented on #87
it requires to add CVE, solution, risk rate and the other stuff in the DB for using it globally and API purpose.

[2018-04-09 11:53] shaddygarg commented on #87
Yes, it will need to be added to log the data into the db and the file.

[2018-04-09 11:59] shaddygarg commented on #87
Oh, I get it. This will not change the way we query from the database but will affect the queries which are used to log data into the database.

[2018-04-09 12:06] shaddygarg commented on #87
@Ali-Razmjoo, Can we not keep a JSON file with all these details of vulnerabilities and render data corresponding to a particular vulnerability from that file. This will keep the db structure same and will provide an easy way to add and delete information about the vulnerabilities.

[2018-04-17 10:00] pradeepjairamani opened #106 "Adding Automatic Code Review for new pull requests"
Codacy is an automated code review tool that helps developers save time in code reviews, Codacy can be added to this project along with Travis CI in order to make this project better.

https://app.codacy.com

Best Regards

[2018-04-18 12:16] Ali-Razmjoo commented on #106
Hey, I've created the account and cloned the project https://app.codacy.com/app/Ali-Razmjoo/OWASP-Nettacker/dashboard

let me see how it works. is there anything else I need to do?

Regards.

[2018-04-18 13:02] Ali-Razmjoo commented on #106
update: I've added the slack integration too.

regards.

[2018-04-19 17:03] Ali-Razmjoo commented on #1
Hey, thanks to @pradeepjairamani

new gif - api usage.
![output_pmq3sj](https://user-images.githubusercontent.com/7676267/39006688-118f7f0c-4419-11e8-874a-c417f0bd9081.gif)

regards.

[2018-04-19 21:12] pradeepjairamani commented on #106
codacy has been installed successfully and I am closing this issue.

Best Regards

[2018-04-19 21:12] #106 closed

[2018-04-19 22:44] #4 closed

[2018-04-19 22:53] shaddygarg commented on #103
Closed via #104

[2018-04-19 22:53] #103 closed

[2018-04-19 23:02] pradeepjairamani commented on #1
![webp net-gifmaker 1](https://user-images.githubusercontent.com/24669027/39022564-bf96bde2-4453-11e8-9814-c30db364aa4d.gif)

New giif - Wizard usage

[2018-04-20 21:03] Ali-Razmjoo commented on #1
Hey @Tikam02,

The [wiki](https://github.com/zdresearch/OWASP-Nettacker/wiki) is almost done, let me know if you would like to work on readthedocs.

Regards.

[2018-04-22 14:25] Ali-Razmjoo opened #111 "wappalyzer_scan bug - nothing found on target"
Hey, just want to inform you of this bug.

[code]

Regards.
_________________
**OS**: `Windows`

**OS Version**: `10`

**Python Version**: `2.7.13`

[2018-04-23 18:42] Ali-Razmjoo commented on #1
Hello,

I've updated the [wiki](https://github.com/zdresearch/OWASP-Nettacker/wiki), feel free to contribute and send your feedbacks.

Best Regards.

[2018-04-23 18:45] Ali-Razmjoo commented on #65
Hey,

I applied changes to all languages lib using google translate API, I will open a new issue to get help from contributors to upgrade the quality of the messages

[2018-04-23 18:49] Ali-Razmjoo opened #113 "Contribute to language library"
Hello,

We recently added more than twenty languages to our framework using Google Translate API. I will glad if anyone would like to contribute to languages. you can find the documents in [here](https://github.com/zdresearch/OWASP-Nettacker/wiki/Developers#contribute-to-language-libraries) to start contributing.

Best Regards.

[2018-04-23 19:02] Ali-Razmjoo opened #114 "New events and alerts(I/O) system"
Hello,

As you know, we are using [alerts](https://github.com/zdresearch/OWASP-Nettacker/wiki/Developers#alerts) (`info`, `warn`, `error`) to print on the screen and `__log_into_file` save an event to the [database](https://github.com/zdresearch/OWASP-Nettacker/wiki/Developers#log-in-database-or-file) or write a file. This code repeated in the entire project several times, to improve our code qual

[2018-04-23 19:21] Ali-Razmjoo opened #115 "New target_type structure"
Hello,

We are using `target_type` (from [core/targets.py](https://github.com/zdresearch/OWASP-Nettacker/blob/master/core/targets.py#L32)) to define the target type (`HTTP`, `SINGLE_IPv4`, `SINGLE_IPv6`, `RANGE_IPv4`, etc...).

It's best to improve the URL section to detect the URL types such as (`ssh`, `ftp`, `smtp`, etc..) to make it work better!

Regards.

[2018-04-23 19:24] Ali-Razmjoo opened #116 "Better Help Menu"
Hello,

As you can see, by adding modules, help menu begin really complicated and big with many listed modules to select or exclude! I think we've re-build this section.

Regards.

[2018-04-23 19:27] pradeepjairamani commented on #116
Hello,

I think it can be solved by solving issue #97 (Joining multiple vulnerability scanner)

Best Regards

[2018-04-23 19:28] Ali-Razmjoo opened #117 "Interactive Wizard Mode"
Hello,

Currently, we have simple wizard mode (`-w`/`--wizard` switch #5) to make scanning progress easier for users in command line interface, it's working but it's great! I am thinking about something better or interactive, let me know if you've any ideas.

Best Regards.

[2018-04-23 19:31] Ali-Razmjoo commented on #116
Hey @pradeepjairamani,

Thanks for informing, I think it's helping but it still needs to be better! we can combine some of the modules but we will grow with unique modules in future, that will drive us to this problem again.

Regards.

[2018-04-23 19:33] Ali-Razmjoo opened #118 "WebUI is not responsive"
Hello,

I've noticed that the WebUI is not completely responsive and it has some issues. I glad if someone could help on this.

Regards.

[2018-04-23 19:38] Tikam02 commented on #1
Yeah, sure wiki page looks great.I'll contribute if I get any new ideas or get any new challenge while using it.

[2018-04-23 19:45] Ali-Razmjoo opened #119 "Security issue (try, except, pass)"
Hello,

We've used many try, except, pass in our code and after I read the project review from codacy, I've to notice that it's a low-risk [security issue](https://docs.openstack.org/bandit/latest/plugins/b110_try_except_pass.html).

Regards.

[2018-04-23 19:49] pradeepjairamani commented on #116
Hello,

Yes that's true, we can create scan mode search like `vuln` `scan` `all` etc instead of showing it in the help menu and user will search according to that and we also need to implement autocomplete for modules.

Best Regards

[2018-04-23 20:05] Ali-Razmjoo opened #120 "Update Switch"
Hello,

As you know, the update switch is a decorate now and does not work, I did not add it because we had not any release! before adding this feature I want to ask the ideas to get to know our users.

As you can see in the [core/update.py](https://github.com/zdresearch/OWASP-Nettacker/blob/master/core/update.py), I `http://nettacker.z3r0d4y.com/version.py` to check the latest version number from

[2018-04-23 20:08] Ali-Razmjoo commented on #116
Hey,

Autocomplete could be add in wizard mode #117. thanks for the idea.

Regards.

[2018-04-23 20:38] Ali-Razmjoo opened #121 "Bring ML to OWASP Nettacker"
Hello,

As you know, OWASP Nettacker logs every event in the database, after a while, you will have enough data to use them for machine learning to find the risks easier. I am not an expert in AI/ML so I cannot tell, but I have a few ideas. for instance, we have a company with an internal network (include 10,000 IPs), I can tell it's easy to set a cronjob and analysis the network hourly, but it's

[2018-04-23 20:42] Ali-Razmjoo opened #122 "API/WebUI Messages"
Hey,

I've noticed that some of the messages in WebUI/API are not located in our language library, (example: index page). it's best to add them all to multi-language purpose.

Regards.

[2018-04-23 20:44] Ali-Razmjoo opened #123 "Improve Code Quality based on Codacy"
Hello,

There are several problems detected by [Codacy](https://app.codacy.com/app/zdresearch/OWASP-Nettacker/dashboard) in our code review, we already have an "A" badge, but it's best to fix them all.

Regards.

[2018-04-23 20:50] Ali-Razmjoo opened #124 "Code Coverage Service Solution"
Hello,

As you may know, I could not setup code coverage on the Travis-CI, it does not support environment variable when PR receive from other contributors, and BTW if it supports it's not safe (token could be printed in PR).

I think about two solutions for this.

* Create a service on could server and run it after every PR on my VPS.
* Add a script to the project and do the code coverage wheneve

[2018-04-23 20:54] shaddygarg commented on #119
I think we should log all the exceptions in a temporary file that gets deleted, once the scan is complete.

[2018-04-23 21:00] Ali-Razmjoo commented on #119
Thanks @shaddygarg for sharing your idea, let's see if anyone else has any idea.

Regards.

[2018-04-23 21:05] shaddygarg commented on #121
I also don't know much about it but for applying any kind of ML will require a large dataset and that will not be suitable for more common users. What will we do for the users with very less data. Are we focussing more on developing for large organisations?

[2018-04-23 21:14] shaddygarg commented on #117
Why don't we make a similar interface to that of OWASP ZSC. I love its simplicity and the ease to work with it?

[2018-04-23 21:14] Ali-Razmjoo commented on #121
Thanks for mentioning that, I think it would be a good feature for large scale companies, it could be work on smaller dataset, but it has much false positive, we should think for all users, the large companies are also are in our list.

Regards.

[2018-04-23 21:47] Ali-Razmjoo commented on #117
@shaddygarg thanks for referring, I just want to see if we've better options! e.g. sqlmap hast am easy and clear wizard!

Regards.

[2018-04-23 22:41] behzadanksu commented on #121
In general, the answer to how much or what type of data is required depends on what exactly do you expect of your models. Do we have any clear ideas on what we want our ML models to do? Even if you don't have any, I'd be happy to hear your thoughts and ideas for potential applications of ML in Nettacker.

[2018-04-23 23:11] Ali-Razmjoo commented on #121
Hey @behzadanksu , Thanks for your reply,

I don't have a clear idea, but I expect to monitor the network and find the risks easier with the ML, we already have a WebUI that helps developers to search for specific information, but for large-scale companies, we will have many events that we don't know which one has the highest risk, sometimes it could be boring to look into the all of the events to

[2018-04-23 23:26] Ali-Razmjoo opened #125 "OWASP Nettacker Project UML"
Hello,

Since the project is growing, I think wiki it's not enough for developers to get to know the project, of course, they can learn about the project, but it's best to spend less time on studying the project, that's why I want to suggest to start creating a UML.

* We can create UML using JS libraries and JSON structure, and whenever it's updated we read it from GitHub and showing it online on

[2018-04-24 03:09] pradeepjairamani opened #126 "Implementing SSL vulnerability Scanner"
Implementing SSL based vulnerabilities like SSL logjam, SSL drown, SSL Poodle, SSL crime, TLS fallback, SSL lucky13, Weak DH ciphers and many others by enumerating server ciphers and also by detecting which SSL/TLS versions are being used in the server.

[2018-04-24 03:16] pradeepjairamani opened #127 "Implementing Text/JSON Database for non-fuzzer based vulnerabilities"
In Non-fuzzer based Network Vulnerability tests, there is no fuzzing and all the tests are done using information of the services running on the port like product and version detection of the service.
Take an example of Proftpd which is one of the most common FTP services across Linux
systems. There are many exploits for the older versions of Proftpd

[ProFTPd CVEDetails](https://www.cvedetails.co

[2018-04-24 03:25] pradeepjairamani opened #128 "Implementing Service scanning in OWASP-Nettacker"
OWASP-Nettacker currently lacks the power of scanning a network for running services
before doing vulnerability assessment and sending payloads; hence every attack can end up
useless if the service is running at a different port.
Let’s take an example, when doing network scanning if a Secure Socket Layer is running on a
port or if the port is using an SSL tunnel in order to protect its users from

[2018-04-24 14:47] Ali-Razmjoo opened #129 "bytes should convert to str"
Hey,

I was testing the framework on a VM, and found this error.

[code]
As it looks, we forget to convert bytes to str to prevent error in Python 3.

Regards.
_________________
**OS**: `CentOS`

**OS Version**: `6.5`

**Python Version**: `3.4.5`

[2018-04-24 14:50] Ali-Razmjoo opened #130 "sender_policy_scan is not available"
Hey,

It seems this module has a few errors in some systems. Should be checked later.

[code]

Regards.
_________________
**OS**: `CentOSx`

**OS Version**: `6.5`

**Python Version**: `3.4.5`

[2018-04-24 14:54] Ali-Razmjoo commented on #73
Hey @JeckyOH,

Thanks for the details, I'm getting an error too and should be review and fix soon.

Regards.

______________
tested on
* `python 2.7.13` windows 10
* `python 3.4.5` CentOS 6.5
* `python 2.7.12` Ubuntu 16

[2018-04-24 19:14] VictorSuraj commented on #128
fragmentation means as a spoofed ip-address for the server where we want to send our packets.
socket well work in banner grabbing but sometimes it is failed. because of, if server self response
about there service then we grab banner through socket. But If server is not configured to give any response  then socket failed there.

[2018-04-24 19:16] Ali-Razmjoo commented on #128
Hey @VictorSuraj,

Is this need to create a raw socket? can you share a few references for your idea, it seems cool!

Regards.

[2018-04-24 19:17] VictorSuraj commented on #128
fragmentation means not a spoofed ip-address but firewall of server cant detect our IP-address.
because  our IP-address information goes in server as in fragments(8-bit or 16-bit at a time of total 32-bit.)

[2018-04-24 19:24] VictorSuraj commented on #128
switch "-Pn" used in nmap for bypass firewall so my idea to grab enough  information about any port's services.

[2018-04-24 19:27] abiusx commented on #128
Yes, but ping uses ICMP protocol which is a lower level protocol compared to TCP, so it can not be done with sockets. However, all TCP services work with a socket.

[2018-04-24 19:27] Ali-Razmjoo commented on #128
I am not sure about nmap structure, but in the help menu says ` -Pn: Treat all hosts as online -- skip host discovery`, I though nmap use SYN/ACK to bypass some firewalls and graph information (such as OS and OS Version)

[2018-04-24 19:28] pradeepjairamani commented on #128
@VictorSuraj  switch -Pn is not a firewall evasion technique, It just doesn't checks if the server is offline or online and scans all the open ports.

[2018-04-24 19:33] VictorSuraj commented on #128
While connecting to a filtered port. socket can not work here. A timeout definitely comes out.
So for this purpose we need fragmentation and I think nettacker used scapy. And we can do a lot
with this. please If you give me some more about socket in fragmentation then send me. I read it
and response  soon.

[2018-04-24 19:38] pradeepjairamani commented on #128
@VictorSuraj  I haven't worked much with scapy, but can you demonstrate a code where we can see different closed ports and filtered ports?

Best Regards

[2018-04-24 19:38] Ali-Razmjoo commented on #128
correct, we used scapy, but I will glad if we can find or create a replacement, we already have some license issues, if we can remove requirements it would us so much, so any contribution in this area are so welcomed.

[2018-04-24 19:44] Ali-Razmjoo commented on #128
@pradeepjairamani thanks for mentioning this, I also looking forward to see a sample code to improve our libraries.

in any case if you need a test server to scan, we have a closed port `3389` on our server `nettacker.z3r0d4y.com`  that you have permission to do all your tests. also, you are permitted to do test for the filtered ports on `zdresearch.com`.

[code]

Best Regards.

[2018-04-24 19:56] pradeepjairamani commented on #130
Hello,

I think the module is working fine but we have to add a same code like this for Pydns and Py3dns which I have done in setup.py file.

` if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then pip install pyDNS; else pip install py3DNS; fi `

https://github.com/zdresearch/OWASP-Nettacker/blob/3198a5e27635f029238f234da9ed263a37bd15d6/.travis.yml#L26

Best Regards

[2018-04-24 20:01] pradeepjairamani commented on #129
Hello,

This issue is already there #94

Best Regards

[2018-04-24 20:01] #129 closed

[2018-04-24 20:07] Ali-Razmjoo commented on #130
should we separate `requirements_py2.txt` and `requirements_py3.txt`? it's odd! any idea?

[2018-04-24 20:08] Ali-Razmjoo commented on #129
thanks.

[2018-04-24 20:11] pradeepjairamani commented on #130
good idea but that will make things more complicated.

[2018-04-24 20:32] pradeepjairamani commented on #130
Hello,

I found a solution for this https://stackoverflow.com/questions/19559247/requirements-txt-depending-on-python-version
I will edit the requirements.txt and send the PR.

Best Regards

[2018-04-24 20:32] #94 closed

[2018-04-24 20:34] Ali-Razmjoo commented on #130
oh great! I was not aware of this!

[2018-04-24 20:36] Ali-Razmjoo commented on #94
Bug fixed and closed.

[2018-04-24 21:09] pradeepjairamani commented on #130
Issue fixed

Best Regards

[2018-04-24 21:09] #130 closed

[2018-04-24 23:03] shaddygarg opened #132 "Use introjs to create a tutorial for the web API view"
[IntroJS](https://introjs.com/) is a library used to create awesome tutorial generally when the user opens the site for the first time. In our case, we can have the tutorial tab specifically made in the web view or the tutorial could be deployed on a demo website. Please let me know if you have any other ideas.

[2018-04-24 23:29] Ali-Razmjoo commented on #118
Hey, it's not in priority but it could be a good feature!

[2018-04-25 01:00] Ali-Razmjoo commented on #124
Hey,

temporarily I've added simple test for code coverage. whenever the EV is present it will do the test (when ever I push the code), BTW we are as you can see in [here](https://app.codacy.com/app/zdresearch/OWASP-Nettacker/dashboard) our code coverage unit test is 32%, so let's improve that! I think we need to [combine](https://stackoverflow.com/questions/26214055/combine-python-coverage-files)

[2018-04-25 01:04] Ali-Razmjoo opened #133 "Add SSL Support for API/WebUI"
Hey,

I think we can add SSL (HTTPS) for our API service as an optional feature, They can add their own keys/certs and also we can generate one for them, Flask is already supporting SSL.

* [Flask](http://flask.pocoo.org/snippets/111/)
* [Generate SSL Cert with Python](https://gist.github.com/ril3y/1165038)

Regards.

[2018-04-26 07:56] pradeepjairamani opened #134 "Creating a static website OWASP-Nettacker.github.io"
Hello,

I think that OWASP-Nettacker should have a website where people can read about the usage, tutorials, download the zip from there, etc
We can take references from different projects like ossec.github.io

Best Regards

[2018-04-28 12:49] VictorSuraj commented on #115
Means like "ftp://<website>". So that our scanning and bringing data from 21 port is specially targeted.

[2018-04-28 12:51] VictorSuraj commented on #115
an example ==>   ftp://linux.org.

[2018-04-28 13:59] Ali-Razmjoo commented on #115
Hey,

Yes, I meant like `ftp://anywebsite` or `ftp://anywebsite:5000` to specify the port.

Regards.

[2018-05-01 04:27] Ali-Razmjoo opened #135 "Clean Code"
Hey,

I found a few cool references to explain the clean-code in python. We already implementing base on them but we miss a few sections! it will be awesome to review the code and clean up what we missed!

* fix conditions
* fix names
* remove duplicates and repeated code
* code-based documentions
* PEP8
* etc.

Regards.

## Refrences
* https://github.com/zedr/clean-code-python
* https://github.co

[2018-05-06 13:32] pradeepjairamani commented on #128
I am going to add these top 100 ports for service scanning, after that we can add more to the service scanner.

- http	80/tcp	0.484143	# World Wide Web HTTP
- telnet	23/tcp	0.221265
- https	443/tcp	0.208669	# secure http (SSL)
- ftp	21/tcp	0.197667	# File Transfer [Control]
- ssh	22/tcp	0.182286	# Secure Shell Login
- smtp	25/tcp	0.131314	# Simple Mail Transfer
- ms-wbt-server	3389/tcp	0.083904	#

[2018-05-07 20:14] shaddygarg opened #138 "Migrate the current database engine to sqlalchemy"
Migrate the current database engine to sqlalchemy.
_________________
**OS**: `Ubuntu`

**OS Version**: `16.04`

**Python Version**: `2.7`

[2018-05-12 19:58] shaddygarg opened #139 "ipaddr module required showing up in start-api mode"
ipaddr module required: http://code.google.com/p/ipaddr-py/ is showing up in start-api mode of nettacker.

![image](https://user-images.githubusercontent.com/21990986/39961114-d962f528-564c-11e8-8d85-5941c8382cff.png)
_________________
**OS**: `Ubuntu`

**OS Version**: `16.04`

**Python Version**: `2.7`

[2018-05-13 08:59] Ali-Razmjoo commented on #139
Hey Shaddy,

I think it appears recently (maybe after changing the requirements.txt), thanks for reporting. I will look up into it soon.

Regards.

[2018-05-15 20:58] shaddygarg opened #141 "InsecureRequestWarning showing up in terminal on running wordpress module scans"
Either these warnings should be suppressed or removed.

![image](https://user-images.githubusercontent.com/21990986/40083079-ba3178da-58b0-11e8-9f43-7126910f78bb.png)

_________________
**OS**: `Ubuntu`

**OS Version**: `16.04`

**Python Version**: `2.7`

[2018-05-16 10:48] Ali-Razmjoo commented on #141
Hey,

Where are they came from? please share the details.

Regards.

[2018-05-16 17:35] pradeepjairamani commented on #141
Hello,

The issues arise because of SSL warnings in requests module, I will suppress the warnings.
@shaddygarg can you please share the website
Best Regards

[2018-05-16 19:47] pradeepjairamani opened #143 "Adding Modules for passive information gathering"
Hello,

I think we should add Modules for Passive information gathering like Email Harvesting, Whois data, etc

Best Regards

[2018-05-16 21:38] shaddygarg commented on #141
Sure, the target was www.zdresearch.com

[2018-05-17 21:08] Ali-Razmjoo commented on #138
Hey,

Thanks, for the PR, this enhancement is done, please add the documentation on the wiki.

Best Regards.

[2018-05-17 21:08] #138 closed

[2018-05-18 18:14] #139 closed

[2018-05-18 18:14] #141 closed

[2018-05-19 19:42] Ali-Razmjoo commented on #111
Thanks for PR. fixed.

[2018-05-19 19:42] #111 closed

[2018-05-30 17:28] Ali-Razmjoo opened #150 "Implement new HTTP Fuzzer into HTTP-Based modules"
Hello,

Now we have a simple HTTP Fuzzer/Repeater [available](https://github.com/zdresearch/OWASP-Nettacker/pull/147/) in the framework that could help us to remove duplicate codes, please consider the `pma_scan` module as an example of implementing of this fuzzer. The documentation is also available in code, readme file. (and will be avalaibe in wiki soon)

Regards.

[2018-05-30 19:18] shaddygarg commented on #150
Hey,
The wiki is now avaliable [here](https://github.com/zdresearch/OWASP-Nettacker/wiki/Developers#adding-a-fuzzing-module-owasp-nettacker-http-fuzzer-module-usage). In case of any confusion, I am always ready to help.
Regards.

[2018-05-31 07:14] Ali-Razmjoo commented on #150
Thanks @shaddygarg.

[2018-06-01 01:28] shaddygarg commented on #19
Hey @Ali-Razmjoo,
I was going through the docs and sample examples of local maltego transform. We can use two python libraries for it. One is the official [Basic Python Library](https://docs.paterva.com/en/developer-portal/tds-transforms/trx-transform-library-guide/), other is [Canari](https://github.com/redcanari/canari3), which is also mentioned on their official website. I am currently making s

[2018-06-01 19:02] Ali-Razmjoo commented on #128
Hello,

We've done it in #148, so I'd mark it as done, and create a new issue to improve the signatures!

Regards.

[2018-06-01 19:02] #128 closed

[2018-06-01 19:17] Ali-Razmjoo opened #152 "Improve Service Scanner Signatures"
Hello,

Thanks to @pradeepjairamani for contribution #148, now we have a service scanner, which we need to improve by adding more signatures in it! there are a few documents for its usage in [here](https://github.com/zdresearch/OWASP-Nettacker/tree/master/lib/payload/scanner/service) and also its implemented in `port_scan` module!

To add signatures, you may take a look at the conditions in [engin

[2018-06-03 10:37] Ali-Razmjoo opened #154 "Long targets calculating"
Hello,

I just notice that it takes much time to start the scanning, this delay comes from IP range calculating and finding out the total targets number.

[code]

I think we can use a better algorithm like:

[code]

Best Regards.

[2018-06-03 10:46] pradeepjairamani commented on #19
Hello @shaddygarg ,

Do let me know about the details of this one, I got confused with creating and transforming charts.

Best Regards

[2018-06-12 11:59] JohnPeng47 commented on #126
Hey your repo looks interesting and would like to contribute. The SSL attacks you've listed above requires NetAttacker to be in position as a MiTM between the server and the victim. Do you currently have that capability implemented?

[2018-06-12 12:14] pradeepjairamani commented on #126
Hello,

These modules mainly focuses on testing the vulnerabilities without being inside the network or to be precise in an MiTM attack. Please give me a little more details about the capability you're talking about.

Best Regards
Pradeep Jairamani

[2018-06-12 12:21] JohnPeng47 commented on #126
Ah yes ur right, we probably don't need to achieve MiTM to check if a site is vulnerable to these exploits

[2018-06-16 17:13] Ali-Razmjoo commented on #19
Hi,

thanks to Shaddy's last PR, now I mark this issue as close until we get ideas for updating this section.
* docs: https://github.com/zdresearch/OWASP-Nettacker/wiki/Usage#maltego-transforms
Regards.

[2018-06-16 17:13] #19 closed

[2018-06-18 18:04] cwcromwell commented on #1
I'd like to contribute to the documentation. Would anyone mind if I edited the wiki? I could perform a line edit for spelling, grammar and punctuation. And I could also look for any issues with readability and usability.

my LinkedIn:
https://www.linkedin.com/in/clarence-cromwell-2279a614/

Thanks,
Clarence

[2018-06-18 20:02] Ali-Razmjoo commented on #1
@cwcromwell thanks for beginning interested and helping this project, it's a pleasure and we appreciate any help. I sent you an email for farther discussion.

[2018-06-19 13:59] pradeepjairamani opened #158 "Bug in setup.py"

[2018-06-20 10:01] #158 closed

[2018-06-21 03:04] HuntedCodes opened #160 "Dockerfile not building image on Docker version 18.03.1-ce"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `ubuntu`

**OS Version**: `16.04`

**Python Version**: `N/A`, using `Docker version 18.03.1-ce, build 9ee9f40`

The Dockerfile fails at building the image with the following error:

[code]

[2018-06-21 03:08] HuntedCodes opened #161 "Include Ubuntu binary dependencies in README"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Ubuntu`

**OS Version**: `16.04 - 18.04`

**Python Version**: `2 or 3`

The readme needs installation instructions for Ubuntu that include binary dependencies from `apt`.

[code]

The Python development package was also needed at some point:

- Python 2: `python-dev`
- Python 3: `python3-dev`

[2018-06-21 06:26] zhaoyun95 opened #162 "failed to build ssh_brute module"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Windows 10 Enterprise`

**OS Version**: `1803`

**Python Version**: `3.6.5`
------------------------------------
python setup.py install
----------------------------------------------------
Processing OWASP_Nettacker-0.0.1-py3.6.egg
creating d:\programdata\anaconda3\lib\site-packages\OWASP_Nettac

[2018-06-21 06:32] #162 closed

[2018-06-21 06:33] Ali-Razmjoo commented on #162
Hello,

thanks for the report, this line added by accident I just deleted it. please update your repository to the veesion.

Best Regards.

[2018-06-21 07:43] #160 closed

[2018-06-21 07:52] Ali-Razmjoo commented on #161
Hello,

thanks for this information, I've added them to the [wiki](https://github.com/zdresearch/OWASP-Nettacker/wiki/Installation#requirements). let me know if there are any more problems.

Best Regards.

[2018-06-21 07:52] #161 closed

[2018-06-21 10:12] Ali-Razmjoo opened #163 "long startup time"
Hello,

While I was testing the framework, I've noticed, it takes a while to run and load module for a simple port scan, but when it's in API mode, it starts immediately, it's simply because in API mode modules are currently loaded on RAM (maybe?) but in CLI it's not, BTW it should not take long like that, if we keep adding modules it will be a waste of time to keep waiting for CLI scans. We need

[2018-06-21 10:14] Ali-Razmjoo commented on #132
I'm on the fence, your choice!

[2018-06-21 10:31] pradeepjairamani commented on #132
A button will be a better option.

[2018-06-21 21:21] cwcromwell commented on #132
Buttons for functionality/behavior. Links to download or view resources.

[2018-06-23 11:12] pradeepjairamani opened #165 "Error in log.py while updating modules to new info messages structure"
Got this error while adding new info to modules
[code]

[2018-06-23 12:17] Ali-Razmjoo commented on #165
Hi,

thanks for reporting, here is a little more details, this problem is coming from `__log_into_file()` when the condition lead the code to `submit_logs_to_db(language, data)` and the data is not `JSON` structure (for instance: `__log_into_file(thread_tmp_filename, 'w', '1', language)` and thread_tmp_filename is not True in this condition `if _builder(_paths(), default_paths())["tmp_path"] in fi

[2018-06-23 16:03] shaddygarg commented on #165
@Ali-Razmjoo, should I write a try catch in the database code to give erroneous message if this is done?

[2018-06-23 16:42] Ali-Razmjoo commented on #165
I think we need a better solution, maybe we can check if the data type is JSON/event or not?

[2018-06-23 22:34] shaddygarg commented on #132
I have gone with the button as I think it is more suited there. Please check the PR #166. And let me know if you want any changes.

[2018-06-24 00:10] cwcromwell opened #168 "Documentation: README"
There are some confusing sentences in the README for OWASP-Nettacker.

In the paragraph that starts on line 23 of the README file ("OWASP Nettacker project is created to automate. . .") The last three sentences are difficult to decipher. Here's what they say:

"This software will utilize TCP SYN, ACK, ICMP and many other protocols in order to detect and bypass firewall/IDS/IPS devices. By leveragi

[2018-06-24 17:40] cwcromwell opened #169 "Documentation: Installation"
Two bigger changes that I think would make the installation chapter better:

1.) Fix use of the term "requirements." It appears that it is being used in different ways, which will confuse your end users:

* The summary at the beginning says there are multiple ways to install, including on this list "requirements," which is not exactly a mode of installation.
*The list of pre-requisite software app

[2018-06-24 17:43] Ali-Razmjoo commented on #168
Hi,
thanks for your feedback, you are correct, feel free to send a pull request for the changes.

Best Regards.

[2018-06-24 21:45] Ali-Razmjoo commented on #169
Hi,

Thanks for your contribution and ideas, we are already testing the framework on [travis-ci](https://travis-ci.org/zdresearch/OWASP-Nettacker/) but it's not supporting much OSs for now, so that would be great to add the matrix, but should we add it now or wait for the official release?

Best Regards.

[2018-06-25 23:03] shaddygarg commented on #152
@Ali-Razmjoo, I was trying to perform the same operation on my localhost and results were different everytime.
[code]
Am I doing anything wrong or is it some problem with the module!! Performing a port scan however works fine for me.

[2018-06-26 01:35] pradeepjairamani commented on #152
I think this is due to the function returning data without waiting for the thread to complete, I will work on this issue.

[2018-06-26 01:39] shaddygarg commented on #168
@cwcromwell, the readme is somewhat confusing. Regarding your questions:
1. We have some of these features and are continuing towards development of others.
2. The method is one of the things nettacker will do besides other things.

[2018-06-26 01:43] shaddygarg commented on #169
Hey @cwcromwell, I was just going through the changes you made to the installation wiki and it looks clean and more human readable. I wanted to give a suggestion. [Docker Installation](https://github.com/zdresearch/OWASP-Nettacker/wiki/Installation#docker) is supposed to be another method of installation. The current structuring makes it look like a fallback option in case every other step doesn't

[2018-06-26 01:46] shaddygarg commented on #152
@pradeepjairamani, should I open another issue regarding this?

[2018-06-26 01:49] shaddygarg opened #171 "Issue in getting results via discovery funstion in service scanner"
I was trying to perform the same operation on my localhost and results were different everytime.
[code]
![image](https://user-images.githubusercontent.com/21990986/41881942-d63dc2ea-7903-11e8-87a5-5084c6e74d16.png)

Am I doing anything wrong or is it some problem with the module!! Performing a port scan however works fine for me.
_________________
**OS**: `Ubuntu`

**OS Version**: `16.04`

**Pytho

[2018-06-26 01:51] pradeepjairamani commented on #171
Thanks for the issue @shaddy I will solve this ASAP

Best Regards
Pradeep Jairamani

[2018-06-27 12:29] Ali-Razmjoo commented on #171
I think it's just because of the timeout... do you have any solution @pradeepjairamani ?

[2018-06-27 12:50] pradeepjairamani commented on #171
I am currently working on the solution, I think changing this below line can solve the issue.

`if threading.activeCount() is 1 or int(kill_switch) is int(timeout * 5 * 10):`

Best Regards

[2018-06-27 14:36] Ali-Razmjoo commented on #171
i think this issue is duplicated with #101

[2018-06-27 19:31] shaddygarg commented on #171
Yes, I also think it is related to the same.

[2018-06-28 13:11] #165 closed

[2018-06-28 13:16] Ali-Razmjoo commented on #132
thanks, done!

[2018-06-28 13:16] #132 closed

[2018-06-28 13:17] Ali-Razmjoo commented on #171
so until we don't have a good solution, increase the timeout a little bit! :D

[2018-06-28 14:56] pradeepjairamani opened #172 "I keep getting this issue after running the PMA_Scan"
Exception in thread Thread-52:
Traceback (most recent call last):
  File "/usr/lib/python2.7/threading.py", line 801, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 754, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/root/OWASP-Nettacker/lib/http_fuzzer/engine.py", line 312, in request_without_data
    if rule_evaluator(response, condition):

[2018-06-28 15:03] Ali-Razmjoo commented on #172
can you please copy the condition in code? I believe you write that wrong, correct example: `response.status_code in [200, 401, 403]`

[2018-06-28 15:07] pradeepjairamani commented on #172
I haven't edited the code yet.

[2018-06-28 15:09] shaddygarg commented on #172
Can you tell me the input?

[2018-06-28 15:15] Ali-Razmjoo commented on #172
`python nettacker.py -i 127.0.0.1 -m pma_scan`, are you working on an online target?

[2018-06-28 15:17] pradeepjairamani commented on #172
yes, I used an online target.

[2018-06-28 15:47] Ali-Razmjoo commented on #172
please check, I cannot figure that's the problem, but it kind of solve it for me,

[2018-06-28 16:09] shaddygarg commented on #172
@Ali-Razmjoo, I believe this is the better option. The error occurs when the request timeouts and so checking the response whether it is a valid response will eliminate the error I think!

[2018-06-28 16:11] #172 closed

[2018-06-28 16:13] Ali-Razmjoo commented on #172
thanks, fixed.

[2018-06-28 19:53] shaddygarg commented on #125
Hey @Ali-Razmjoo,
Can you elaborate on this? Do you want to create a diagram of sorts which is self-updating whenever a new commit is pushed onto Github and gives information about the directory structure and what each directory does or you want something else? Do you have an example of this kind of implementation?
Best Regards.

[2018-07-01 16:46] cwcromwell commented on #169
I'll take a look.

[2018-07-01 21:30] cwcromwell commented on #169
I think I've covered all the changes discussed above.

To improve the flow, I did move some of the info, as proposed, into two new sections titled "before installation" and "after installation."

I added a bit of information about the ability to cover operating systems and versions of Python, and we can update this with an actual matrix later, when it is easier to do so.

I also took care of the i

[2018-07-01 21:42] cwcromwell commented on #168
Okay. How about this version:

The software, still under development, will eventually utilize TCP SYN, ACK, ICMP and many other protocols to detect and bypass firewall/IDS/IPS devices. It already contains a unique method for discovering protected services and devices such as [SCADA](https://en.wikipedia.org/wiki/SCADA). The planned combination of capabilities is expected to make OWASP Nettacker on

[2018-07-02 09:44] Ali-Razmjoo commented on #168
@cwcromwell great! thanks for the update. should I update the readme or will you send a PR?

[2018-07-05 21:29] shaddygarg commented on #125
@Ali-Razmjoo, any thoughts on this??

[2018-07-06 08:29] pylyf opened #177 "if statements"
Hello. I want to share a way to make if statements a bit nicer, but I'm not sure whether it's worth a commit ( don't know if you like this way ) or not.

You have a code like this :
[code]

You could use:
[code]
but long lines are against POP, therefore this should work :

[code]

_Would like to hear your opinion. Cheers_.

[2018-07-06 10:18] Ali-Razmjoo commented on #177
Hello,

thanks for opening this issue, the reason I used multiple "if" statement is that we have "else" statement as well, but I believe I used many wrong statements in the code, and we already created this issue in here #135

please feel free to contribute and send your PR. I may close this issue and we can continue in #135

Best Regards.

[2018-07-06 10:18] #177 closed

[2018-07-12 15:00] Ali-Razmjoo commented on #118
thanks to @shaddygarg last PR, I am going to close this issue, let me know if there is anything else need to change.

[2018-07-12 15:00] #118 closed

[2018-07-12 15:02] Ali-Razmjoo commented on #7
@shaddygarg could you work on this as well?

[2018-07-12 15:49] shaddygarg commented on #7
Sure Ali, I will have a look into it and will let you know if I find a better alternative and a better design.

[2018-07-29 15:21] #169 closed

[2018-07-29 16:18] cwcromwell opened #181 "Nonworking languages"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `macOS`

**OS Version**: `10.11.6`

**Python Version**: `3.6.1`

The language command line flag is not working for Pashto. The input `python3 nettacker.py -L ps` results in the following error:

[code]

[2018-07-29 17:20] Ali-Razmjoo commented on #181
Hi @cwcromwell thanks for reporting,

@pradeepjairamani please take a look and send the patch. let me know if you have any questions.

Regards.

[2018-07-29 17:36] pradeepjairamani commented on #181
@Ali-Razmjoo I will have a look into it

[2018-07-29 20:48] cwcromwell opened #182 "Fixes for the "Usage" section of docs wiki"
I did a basic line edit of the "Usage" section, but next it needs reorganization and more information.

Would anyone want to spend time on a call or two to help me understand some of the commands? Some of them aren't obvious to me from the command line help, so they might benefit from better explanation.

(I'll continue to work on this section, but having a technical expert to answer some of the q

[2018-07-31 17:54] shaddygarg commented on #182
Hey @cwcromwell. It would be really good if you talk to one of us. I am sure @Ali-Razmjoo won't mind scheduling a call with you but if he is busy, I am available. Just ping me a time and date and we can get things started.

[2018-07-31 18:36] Ali-Razmjoo commented on #182
Hi,

sorry for delay, I'm on trip until tomorrow night, after that will be free too. we have a slack group, and I am also available on skype and hangsout,

so just let me know the schedule I will glad to help.

Best Regards.

[2018-07-31 21:26] cwcromwell commented on #182
Cool. Would a weekend call be okay? My availability to work on things is best on Saturday and Sunday. Also, please let me know your time zones, guys.

[2018-08-01 18:33] Ali-Razmjoo commented on #182
I will add you to slack channel tomorrow for farther schedules, I'm free on weekends.

[2018-08-02 10:33] Ali-Razmjoo commented on #182
Hi Clarence, I've sent you an invitation to our Slack,

[2018-08-11 12:05] Ali-Razmjoo opened #183 "password generate multiple problem"
Hello,

* there is not `__init__.py` in this [path](https://github.com/zdresearch/OWASP-Nettacker/tree/master/lib/payload/password) so generator can't be imported.
* fix the [readme file](https://github.com/zdresearch/OWASP-Nettacker/blob/master/lib/payload/password/generator/readme.md) - codes and ...
* add code based documentation and fix PEP8  https://github.com/zdresearch/OWASP-Nettacker/blob/

[2018-08-11 12:08] Ali-Razmjoo commented on #181
Hi, should I close this one?

[2018-08-13 08:51] aliluyala opened #184 "bug to http_fuzzer"
my poc named "elasticsearch_unauthorized_access_poc" use model "http_fuzzer",
here is my poc results:

![1534149533 1](https://user-images.githubusercontent.com/24489214/44021967-cd973e2e-9f18-11e8-9a2d-3f06cf950599.jpg)

two ports match，but only show one raw !
_________________
**OS**: `windows`

**OS Version**: `10`

**Python Version**: `python 2.7.15`

[2018-08-13 12:32] Ali-Razmjoo commented on #184
Hi

when you calling the `__repeater` try this to change default ports in an array.

[code]

if there is any more error please share more details. and if its fixed please let me know.

Regards.

[2018-08-14 04:07] aliluyala opened #185 "core>targets.py bug"
the method "target_type" in core>targets.py  can‘t distinguish some targets like this "Publish_server.oa.xxx.com"。

 I think the right code should be：

`def target_type(target):
    ...

    elif re.match('^([a-zA-Z0-9]+(-|_[a-zA-Z0-9]+)*\.?)+[a-z]{2,}$', target):
        return 'DOMAIN'
    elif (target.lower().startswith('http://') or target.lower().startswith('https://')):
        t = target.rs

[2018-08-14 10:32] Ali-Razmjoo commented on #185
Thanks for reporting the bug @aliluyala, I will fix it soon.
Regards.

[2018-10-04 18:08] Tikam02 commented on #121
@Ali-Razmjoo this summer I  did my internship in company with applied deep learning and machine learning. This is my work https://github.com/Tikam02/Crowd_Estimation_DeepLearning
And I have some research papers based on network monitoring and some security based, yet to be implemented.
It'll be great to blend MachineLearning+DeepLearning+Cyber Security.

[2018-10-19 16:11] abhisharma404 commented on #126
How about using SSL Labs API for implementing this?
https://www.ssllabs.com/projects/ssllabs-apis/index.html

[2018-10-19 17:11] Ali-Razmjoo commented on #121
@Tikam02 sorry for late response,

great! I will contact you within a few days (I am really busy now with work) and we will discuss it.

[2018-10-19 17:11] Ali-Razmjoo commented on #126
@abhisharma404 interesting idea, please feel free to make your contribution and send your PR.

[2018-10-21 16:14] abhisharma404 commented on #126
@Ali-Razmjoo Hey there! I have written a quick and a very basic non-OOP driven script demonstrating the use of SSL Labs API in finding SSL vulnerabilities.
https://gist.github.com/abhisharma404/fe1ed9745c324b00a4c641f92eb445bc

This is only for demonstration, a lot needs to be worked upon. If anyone could review, if this aligns with the aim, if yes I'll be glad to work on integrating this feature

[2018-10-23 16:21] shaddygarg commented on #126
Hey @abhisharma404. I just saw the code on the gist and it aligns with the aim and looks fine to me, although it can be optimized a great deal. Can you make a PR with your code integrated with the framework? @Ali-Razmjoo or some other leader will review it then!!

[2018-10-23 16:23] shaddygarg commented on #184
Hey @aliluyala, does the issue persists even after the changes Ali suggested. If yes, please let me know, I would be happy to help, else we can close this issue.

[2018-10-24 16:06] abhisharma404 commented on #135
@Ali-Razmjoo Hey there! I would like to work on this.

[2018-10-25 18:03] abhisharma404 opened #187 "Using socks proxy template as python decorator"
We can use the socks proxy template as a python decorator, instead of repeating the following code every time we can just use a decorator, for e.g. `@socks_proxy` over every function that needs it.

codes...

            if socks_proxy is not None:
                socks_version = socks.SOCKS5 if socks_proxy.startswith('socks5://') else socks.SOCKS4
                socks_proxy = socks_proxy.rsplit(

[2018-10-25 18:36] abhisharma404 commented on #187
Another option could to be to put the socks proxy template in a function, import and call that function whenever needed.

Any suggestions?

[2018-11-01 13:41] Ali-Razmjoo commented on #126
@abhisharma404 thanks for that, and @shaddygarg thanks for the guide.
hope see your PR soon and sorry for my late response.

[2018-11-01 13:42] Ali-Razmjoo commented on #184
@shaddygarg just to mention, I think this will be failed in file upload requests as well, in that case we need fundamental change...

[2018-11-01 13:42] Ali-Razmjoo commented on #135
@abhisharma404 thanks, I will check your PR soon.

[2018-11-05 16:13] SeriyVol4ishe opened #188 "Docker build with alpine ERROR: unsatisfiable constraints"
Tryed to build your dockerfile. But image that was pulled works correctly.
[code]
_________________
**OS**: `alpine`

**OS Version**: `3.8`

**Python Version**: `2.7`

[2018-11-06 23:48] Ali-Razmjoo commented on #188
that's new! I've check and I got the same error, thanks for reporting I will fix it soon, meanwhile feel free to send your solution or PR.

regards.

[2019-01-06 09:30] mzfr opened #190 "Value error while installing"
After installing all the requirements, when I tried to run the setup.py with `python setup.py install` the process stops with the following error

[code]
_________________
**OS**: `Manjaro`

**OS Version**: `4.20`

**Python Version**: `3.5`

[2019-01-07 16:47] mzfr commented on #12
@Ali-Razmjoo Are there any other modules that are to be implemented, if yes then please let me know I would love to work on them.

[2019-01-07 16:52] mzfr commented on #98
@Ali-Razmjoo This issue is fixed right?

[2019-01-25 21:04] samane68 opened #196 "how range-ip and domains scaning"
How can I auto scanning 128 IP, host?

[2019-02-01 13:32] draconteus commented on #188
Is there any progress in this one? :)

[2019-02-01 14:34] Ali-Razmjoo commented on #188
I've sent a temporary fix, let me know if you have still a problem.

[2019-02-04 09:50] draconteus commented on #188
Yes, with the ubuntu image, it's working fine. I tried to look into if it would be possible to make it working with alpine again, but no progress yet. I'll make a PR if it's working.

[2019-10-07 06:08] V33RU opened #200 "py3dns version support issue"
Collecting py3DNS==3.1.1a0 (from -r requirements.txt (line 16))
  Using cached https://files.pythonhosted.org/packages/8e/a3/b8cae77d27ac818390f864583e881ee7d332e2450391ddf1b52dcaaeb521/py3dns-3.1.1a.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-dhbntdi9/py3DNS/setup.p

[2019-10-17 23:42] securestep9 commented on #196
Read the manual - all documented here: https://github.com/zdresearch/OWASP-Nettacker/wiki/Usage#target-inputs-option

[2019-10-17 23:42] #196 closed

[2020-01-13 23:41] securestep9 opened #201 "viewdns_reverse_ip_lookup_scan not producing any results"
viewdns_reverse_ip_lookup_scan module has stopped producing results
_________________
**OS**: `linux`

**OS Version**: `ubuntu`

**Python Version**: `2.7, 3.6`

PoC  check:
`python nettacker.py -i 8.8.8.8 -m viewdns_reverse_ip_lookup_scan`

This is due to viewdens.info moving from HTTP to HTTPS protocol and doing a Referer check.

[2020-01-13 23:47] #201 closed

[2020-01-14 09:31] simoncaogit commented on #200
I have same issue
Collecting py3DNS==3.1.1a0 (from -r requirements.txt (line 16))
  Using cached https://files.pythonhosted.org/packages/8e/a3/b8cae77d27ac818390f864583e881ee7d332e2450391ddf1b52dcaaeb521/py3dns-3.1.1a.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-install-xslw1

[2020-01-20 14:06] Ali-Razmjoo commented on #200
use docker for now until we fix the issue, thanks for reporting it.

[2020-01-27 21:52] securestep9 opened #202 "subdomain scan returning items with '<BR>'"
subdomain scan has recently started returning subdomains with 'BR' HTML tag like this:

`lists.owasp.org<BR>www.lists.owasp.org `

[2020-01-27 21:52] securestep9 commented on #202
This is due to crt.sh listing SNI domains in one table row separated by `<BR>`

[2020-01-28 10:49] shaddygarg commented on #202
Hey @securestep9, should I take up this issue or is anyone working on it? It possibly will be a matter of changing the parsing.

[2020-01-28 11:20] shaddygarg commented on #202
Issue resolved, waiting for review.

[2020-02-01 14:51] securestep9 commented on #202
thank you @shaddygarg ,pull request  merged, issue closed

[2020-02-01 14:51] #202 closed

[2020-02-13 04:34] aman566 commented on #133
Hello Sir, I would like to start working on this issue. As a Gsoc enthusiast I would like to start my contribution with this issue. Please assign this issue to me.

[2020-02-13 05:42] aman566 opened #204 "Implementing Shodan reconnaissance in OWASP-Nettacker"
There is no way that current version of nettacker can search on shodan and do information gathering. I will add this feature such that shodan search will also get implemented in nettacker.

[2020-02-13 12:37] Ali-Razmjoo commented on #133
@aman566 thanks 👍 you are welcome to contribute on any of issues/features.

[2020-02-13 22:30] securestep9 commented on #204
Hi @aman566 - Shodan is not free and opensource. Feel free to add the shodan module via pull request - please allow Nettacker users to use their own Shodan API key

[2020-02-14 04:02] aman566 commented on #204
Please assign this task to me. Currently I am understanding the codebase of Nettacker. After that I will implement a shodan module in which user will be giving his api key and according to it the results will vary.

[2020-02-25 04:17] aman566 opened #206 "Adding a simple https://web.archive.org/ module"
Hello, @Ali-Razmjoo I think we should also add a Wayback module so that the user can scan for the crawled data on Wayback and some juicy information could be extracted from it which could help him in performing further pentest.

[2020-02-25 04:18] aman566 commented on #204
can you please assign this task to me? I am on it and will soon update you with the code.

[2020-02-25 06:43] SriHarshaGajavalli commented on #204
Assigned you, Aman. Send a PR once you're done

[2020-02-26 20:22] aman566 opened #215 "Adding frame-ancestors directive for improving Clickjacking Module"
The current Clickjacking module lacks checking Content-Security-Policy header in which frame-ancestors directive needs to be checked if website is vulnerable to clickjacking or not. There are two ways to check whether website is vulnerable to clickjacking or not: x-frame-options header and frame-ancestors directive in CSP header. Adding CSP header check to the Clickjacking module will increase cha

[2020-02-28 14:57] mzfr commented on #69
@Ali-Razmjoo @securestep9 It looks like this issue is fixed.

[2020-03-12 06:16] 0xInfection opened #220 "[Minor] Missing Parenthesis Bug"
During the installation of this project an error could be observed:
[code]
The engine under `header_blind_sqli` module handles an exception and prints out the exception. However due to the engine code being in a Python2 flavor causes an exception in a Python3 installation, which causes the code to be not byte-complied properly while installation.

Fixed by: #224
_________________
**OS**: `Ubuntu`

[2020-03-12 06:51] 0xInfection opened #222 "[Low] Deprecated/Removed Libraries"
The engine under `http_fuzzer` contains the following imports:
[code]
`mimetools` has been deprecated since Python v2.3 and StringIO has been pushed into `io` library for backwards compatibility in v3.x. Using non-existent/deprecated libraries decrease code efficiency as well affects the usability of this framework as a whole.

Fixed by: #224
_________________
**OS**: `Ubuntu`

**OS Version**: `18

[2020-03-12 19:34] 0xInfection opened #223 "[Low] Inconsistent redundant usage of urllib/urllib2"
The file `engine.py` under `http_form` contains the following code:
[code]
`urllib.urlencode` has been pushed into the `urllib.parse.encode` package in Python3, so will throw out an error when used on an Python3 system. Also other `urllib` functions had been pushed into `urllib.request` package. They need to be correctly handled so that both Python2 and Python3 dependencies are met simultaneously.

[2020-03-13 10:45] aman566 opened #227 "Tool breaks when finding Clickjacking vuln using a list"
The nettacker tool v0.0.1 breaks when giving a big list of domains for searching clickjacking issue. If in a list the domain is not responding the tool breaks and doesn't check for other domains present down the list. What should happen is the tool should continue checking the list and at the end should display the unavailable domains.
![clickjackingIssue](https://user-images.githubusercontent.com

[2020-03-14 07:05] aman566 commented on #133
Hello @Ali-Razmjoo I have completed this issue.
Here is the screenshot for the implementation of SSL
![sslimplemented](https://user-images.githubusercontent.com/32503192/76677085-27a67c00-65f0-11ea-8e34-0a474171bc5b.png).

Please correct me if I did something wrong anywhere. Will be waiting for the response :)
.

[2020-03-14 08:21] aman566 commented on #133
I dunno why travis is breaking the code but when seeing the code base of the pull requests I made and running the command as:
`python nettacker.py -i google.com -m clickjacking_vuln --start-api --api-host 127.0.0.1 --api-port 9999`
will run the server over https. Will wait for help :)

[2020-03-15 04:27] iDuronto commented on #204
Hey @SriHarshaGajavalli, @securestep9,
Please assign an issue to someone only after they have opened a PR on the issue. There are other people like me willing to work on this issue. But since this is assigned to someone else, I can't work on this now, or can I? Please help.

I'm waiting upon you guys to start contributing. :)

Regards

[2020-03-15 05:08] aman566 commented on #204
I was working on SSL implementation. Now it's completed. I will start working on this problem. Due to corona issues in our college, I was not able to work. Once the director is confortable in giving us holidays I will surely update the repo.

[2020-03-15 15:12] beyondexp opened #236 "Implement online web fingerprinting api to scan website fingerprints"
The cms_detection method can only identify wordpress, drupal, joomla. But there are many other different types of cms in the network. I will modify the cms_detection method and call some online web fingerprinting apis.
_________________
**OS**: `ubuntu`

**OS Version**: `16.04`

**Python Version**: `3.6`

[2020-03-21 15:42] 0xInfection opened #237 "[Low] Circular Dependency Import Issue"
There is an import-based circular dependency/variable name collision between the files `core/attack.py` and `core/compatible.py`.

The file `core/compatible.py` contains the following on line 6:
[code]
And the code in `core/alert.py` contains the following on line 8:
[code]
So as you clearly see there is a circular import which is causing variable name collisions between the 2 files.

Issue fixed

[2020-03-22 14:38] beyondexp commented on #237
The file core/compatible.py contains the following on line 27:
` from core.alert import write_to_api_console`
Circular import in Python can be avoided by introducing them into functions, but this is cure the symptoms, not the disease。

[2020-03-23 04:11] 0xInfection commented on #237
Hey @beyondexp,

I think you are mistaken somewhere. If you look at the [changes proposed](https://github.com/zdresearch/OWASP-Nettacker/pull/238/files) via #238, you'll see I removed all dependents from `core/alert.py`. The only logic here was that `core/compatible.py` may depend on `core/alert.py` but the reverse should not be true, i.e. `core/alert.py` shouldn't depend on `core/compatible.py` s

[2020-03-23 04:59] beyondexp commented on #237
Sorry i didn't see your this commit [0c62662](https://github.com/zdresearch/OWASP-Nettacker/pull/238/commits/0c626625bcbf5f48fcee3c042f133fb26fec94ac)

[2020-03-25 06:29] 0xInfection opened #239 "[Medium] Multiple logical bugs within header_xss module"
The `header_xss` module, contains the following on line 34:
[code]
So what the engine does is, it makes a HEAD request to the site, and then it iterates over the received headers from the HEAD request and adds them to the already existing `headers_xss` dictionary. By doing this we are actually violating the w3 standards defined in RFC 7230-7235.

A quick glance at the [wikipedia page](https://en.w

[2020-03-27 15:16] aman566 opened #241 "Set-Cookie header related Vulnerabilities"
The set-cookie header has some flags like secure, httponly, samesite. If these flags are not enable then it can help attacker to exploit the site in various ways. But if samesite cookie is enabled then the website is safe from CSRF attacks. Ex In this blog: https://www.acunetix.com/blog/articles/chrome-tightens-csrf-protection/ after adding samesite cookie which will prevent the csrf attacks. I wi

[2020-03-28 15:52] aman566 commented on #116
I would like to work on it. Please assign this to me @Ali-Razmjoo .

[2020-03-29 23:19] #237 closed

[2020-03-30 05:43] 0xInfection opened #242 "[Medium] Issues within kippo_honeypot module"
The module `kippo_honeypot` detector has the following bugs:
- Uses quite a number of `socks` functions, eg. `socks.socksocket`, `sock.SOCKS4` without importing it.
- Uses `getaddrinfo()` function from `lib.socks_resolver.engine` library without importing it.
- Includes the following code on Line 48:
[code]
    where the variable spacer has not been declared.

Fixed by: #243
_________________
**OS

[2020-03-30 06:13] 0xInfection opened #244 "[Low] Unmet dependencies in requirements.txt"
There are some unmet dependencies in the `requirements.txt`:
- The module under `brute/http_ntlm` uses the `pycurl` library.
- The module under `payload/scanner/ics_honeypot` uses the `xmltodict` library.

Both of which are not marked as dependencies in the `requirements.txt`.
_________________
**OS**: `Ubuntu`

**OS Version**: `18.04`

**Python Version**: `3.6`

[2020-03-30 10:24] aman566 opened #246 "[Low]Variable 'rule' is not defined in lib/vuln/CCS_injection/engine.py file"
The "rule" keyword is not defined in finding ccs injection CVE-2014-0224.
Code:
line no: 277-281 in lib/vuln/CCS_injection/engine.py
_________________
**OS**: `Linux`

**OS Version**: `Ubuntu`

**Python Version**: `3.x`

[2020-03-30 22:37] Farhan2316 commented on #246
import the rule class

[2020-04-26 23:38] securestep9 opened #250 "CSV result export feature"
Currently Nettacker is only capable of producing results in JSON,TXT and HTML format A new feature to produce results in CSV format is needed

Command line option -o  :

 `-o results.csv
`

[2020-04-27 02:16] aman566 commented on #241
Fix for this issue: #249 @securestep9 please review it and suggest me changes if any :)

[2020-04-27 03:47] aman566 commented on #246
Fixed in PR #247

[2020-04-27 13:23] aman566 opened #252 "Description column in the output not changes"
The Description column in the output of any vulnerability scan does not change its width. Due to this, the output cannot be in a readable form. So the width of the description column should change.

![image](https://user-images.githubusercontent.com/32503192/80377018-49b24000-88b8-11ea-90d6-63796af18244.png)

_________________
**OS**: `Linux`

**OS Version**: `Ubuntu`

**Python Version**: `3.x`

[2020-04-28 22:38] securestep9 commented on #252
Hi @aman566 the standard terminal output is 80 bytes long. Text output is there for information only to warn the user that there are findings, it is assumed that HTML/JSON (and hopefully CSV) will be used for actual 'consumption' of findings

[2020-04-28 22:38] #252 closed

[2020-04-28 22:40] securestep9 commented on #244
There was an attempt to get rid of pycurl which was originally heavily used, removed from requirements.txt a bit early

[2020-04-30 07:13] 0xInfection commented on #244
Hey @securestep9, thanks for your insight. :)

Do you think I should rewrite the code using the `requests-ntlm` library for bruteforcing NTLM authentication? If yes, I will be more than happy to contribute.

[2020-05-07 02:08] aman566 commented on #215
Completed. Please review it @securestep9  #265

[2020-05-07 20:17] securestep9 commented on #244
Hey @0xInfection - all contributions are welcome. If you are going to write a new module it's best to have a different module name and perhaps you can come up with more features

[2020-05-08 21:11] aman566 opened #266 "The pma_scan module breaks"
The pma_scan module is broken and gives error when run.

![image](https://user-images.githubusercontent.com/32503192/81449683-685ce480-919e-11ea-992f-86965262b753.png)

Code is breaking somewhere in start()

![image](https://user-images.githubusercontent.com/32503192/81449542-15832d00-919e-11ea-89c7-37c3a9fb04e9.png)

Please Describe the issue or question and share your OS and Python version.
____

[2020-05-11 19:10] aman566 opened #268 "Running dir_scan module doesn't give results"
Steps to reproduce:
1. Freshly clone the repo and install nettacker.
2. Run:

![image](https://user-images.githubusercontent.com/32503192/81601558-acdbc080-93e8-11ea-93d9-097cb02e7d1c.png)

_________________
**OS**: `Linux`

**OS Version**: `Ubuntu`

**Python Version**: `3.6.9`

[2020-05-11 19:36] aman566 commented on #268
I have created a PR for this fix #269

[2020-05-12 18:13] aman566 commented on #250
I tried to fix it and it is working. I ran
`python nettacker.py -m clickjacking_vuln -i https://pintasuper.com -o results.csv` and it gave the output:

![image](https://user-images.githubusercontent.com/32503192/81729875-58007e80-94aa-11ea-8a54-673dcac75bbc.png)

@securestep9 please review it :)

[2020-05-12 18:31] #227 closed

[2020-05-16 23:53] #250 closed

[2020-05-17 00:56] securestep9 commented on #266
this  bug is happening Python3 only. Python2 version works

[2020-05-18 15:03] securestep9 commented on #190
known issue with Python 3.5 due to incompatible dependencies. A workaround is to use Python 3.6+.

[2020-05-18 15:03] #190 closed

[2020-05-18 15:05] securestep9 commented on #200
pyDNS is now bumped up to 3.2.1 which should resolve this issue

[2020-05-18 15:05] #200 closed

[2020-05-18 15:09] #6 closed

[2020-05-18 15:16] #1 closed

[2020-05-18 23:35] securestep9 opened #274 "cannot check for update, please check your internet connection"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `MacOS`

**OS Version**: `Darwin`

**Python Version**: `3.6.2`

Error message '**cannot check for update, please check your internet connection**' appears before each scan - this is due to the version check trying to connect to z3r0d4y.com (which is down).

Changing this to connect to Nettacker Gi

[2020-05-18 23:42] #274 closed

[2020-05-21 04:44] aman566 opened #275 "Error running maltego transforms"
The steps give in maltego usage in the documentation is followed but the command:
`canari create-profile nettacker_transforms -w {ABSOLUTE PATH OF DIRECTORY}/OWASP-Nettacker/lib/transactions/maltego/nettacker_transforms/src`

Giving this error:
[code]
This is my .canari/canari.conf file:
[code]
Something is going wrong with my canari.conf file I think. This issue will come whenever someone freshly

[2020-05-31 19:07] aman566 opened #280 "False Positives while running dir_scan"
The current version of Nettacker scans for directory listing. But doing directory listing it searches for 401, 403, 200 status codes which is really a good approach. But in this manner what happens is many websites(90% where I used the tool) smartly creates some 404 pages where the status codes are 200 which is really bad for the tool giving false positives.
![image](https://user-images.githubuser

[2020-06-06 16:21] aman566 opened #288 "telnet_brute module breaks while running"
The telnet_brute module breaks while running it on a application(Localhost lab). The command used is:

`python nettacker.py -i http://192.168.0.105 -m telnet_brute`

![image](https://user-images.githubusercontent.com/32503192/83949106-95ed8a00-a83f-11ea-9ff4-57a9437d3578.png)

_________________
**OS**: `Linux`

**OS Version**: `Ubuntu 18.04`

**Python Version**: `3.6.9`

[2020-06-07 05:13] aman566 commented on #288
Fixed in the #272 : commit: [bf24f9e](https://github.com/zdresearch/OWASP-Nettacker/pull/272/commits/bf24f9e8b0f8cf2550e42ab7d3d16990ad7330ed)

[2020-06-08 03:01] aman566 commented on #171
In my machine for the very first time when I are running it, I am still able to reproduce the issue.

![image](https://user-images.githubusercontent.com/32503192/83988930-65ead780-a962-11ea-8eb6-af1e38f8662b.png)

[2020-06-08 03:07] aman566 commented on #171
We need to still increase the timeout a little bit: from **5*10** to **9*10**.

[2020-06-08 03:32] #215 closed

[2020-06-08 19:04] aman566 opened #289 "Bug(Recursion) in calling warn, error from api"
This is actually an interesting recursive logic where we are not allowed to call warn, error functions when using API but the __die_failure() uses error. When calling the error function, it says that if the command contains "--start-api" then it won't print a thing. Interesting one. I will soon fix it.
![image](https://user-images.githubusercontent.com/32503192/84069944-f966eb80-a9e8-11ea-9aec-d40

[2020-06-09 10:19] aman566 commented on #289
Fixed in #290

[2020-06-09 10:19] #289 closed

[2020-06-09 20:31] #288 closed

[2020-06-09 23:10] #242 closed

[2020-06-10 00:35] #220 closed

[2020-06-10 00:35] #222 closed

[2020-06-10 00:35] #223 closed

[2020-06-10 14:09] aman566 opened #292 "Error importing reload"
Error importing the reoad module. Command used:
`python nettacker.py -i 192.168.0.0-192.168.0.255 -m port_scan`

![image](https://user-images.githubusercontent.com/32503192/84277992-d73cad00-ab51-11ea-9551-39fdec168c10.png)

Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux`

**OS Version**: `Ubuntu 18.04`

**Python Version**: `3.6.9`

[2020-06-10 15:13] #292 closed, assigned to securestep9

[2020-06-12 14:14] #133 closed

[2020-06-13 03:13] aman566 opened #295 "Wizard not working"
![ezgif-2-fadd3d897e4f](https://user-images.githubusercontent.com/32503192/84558626-ec802a00-ad51-11ea-9df2-72b0ba5a1212.gif)

Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux`

**OS Version**: `Ubuntu 18.04`

**Python Version**: `3.6.9`

[2020-06-14 10:37] securestep9 commented on #295
looks like this bug was introduced after API SSL commit..

[2020-06-14 21:32] #266 closed

[2020-06-15 16:05] aman566 opened #301 "Color coding breaks with python3"
![image](https://user-images.githubusercontent.com/32503192/84680285-0b4c0f80-af50-11ea-89d6-6b45107ddf0d.png)

Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `Linux`

**OS Version**: `Ubuntu 18.04`

**Python Version**: `3.6.9`

[2020-06-17 16:57] #204 closed

[2020-06-26 13:34] aman566 opened #309 "Subdomain takeovers"
The current version of Nettacker do not checks for subdomain takeover vulnerability.

_________________
**OS**: `Linux`

**OS Version**: `Ubuntu 18.04`

**Python Version**: `3.6.9`

[2020-07-02 19:56] #295 closed

[2020-07-04 00:18] #98 closed

[2020-07-04 00:18] #236 closed

[2020-07-04 00:19] #301 closed

[2020-07-04 15:50] Bourne426 opened #311 "Shodan Scan Not giving CVE's for some domains"
The Shodan recon module is not giving cve's for some domains.
for example:
python nettacker.py -i events4.us -m shodan_scan --method-args shodan_api_key=XXXX
![image](https://user-images.githubusercontent.com/32737075/86516160-f1f5ff00-be3b-11ea-8c01-867ac6d81da6.png)
But in the  shodan.io there are many CVEs related to this domain.
_________________
**OS**: `Kubuntu`

**OS Version**: `20.04`

**P

[2020-07-06 07:38] aman566 opened #316 "Nettacker Breaks when using List for a vulnerability check"
Checking for clickjacking_vuln in python3:`
python3 nettacker.py -l test.txt -m clickjacking_vuln -s`

Gives the following result.

![image](https://user-images.githubusercontent.com/32503192/86567806-8f127e00-bf89-11ea-9f82-156f8b1252d7.png)

_________________
**OS**: `Linux`

**OS Version**: `Ubuntu 18.04`

**Python Version**: `3.6.9`

[2020-07-07 06:22] aman566 opened #318 "Tool running Wordpress Modules on a domain which does not support Wordpress"
If a website is made over WordPress then only it should check for wp-user-enum, wp-plugins, wp-themes.
Websites that are not built on WordPress, the tool should skip those checks.

It will affect and time will be wasted if we use **-s** for scanning all subdomains because in that case WordPress modules will be checked on all subdomains and not every subdomain will be made on WordPress in normal ca

[2020-07-19 15:12] q2dg opened #321 "This project isn't shown in https://owasp.org/projects"
So its visibility can be very small.
I think you should talk with someone of OWASP website staff.
Thanks

[2020-07-19 15:51] aman566 commented on #321
Hello @q2dg It is available :-)
Just navigate to the "Type" tab:
![image](https://user-images.githubusercontent.com/32503192/87879050-d2e39980-ca05-11ea-84a1-eef24a55a903.png)

![image](https://user-images.githubusercontent.com/32503192/87879042-c6f7d780-ca05-11ea-918f-20bb3b668ee7.png)

[2020-07-19 15:51] #321 closed

[2020-07-19 16:04] q2dg commented on #321
Oooh, it's true, you're right. But in "Level" tab it isn't.
A bit messy, don't you think?

[2020-07-26 04:12] aman566 commented on #69
The current http_form_brute is not giving correct results
![image](https://user-images.githubusercontent.com/32503192/88471217-0cdffe80-cf24-11ea-825b-123450cd5c13.png)

I tried fixing in #305

![image](https://user-images.githubusercontent.com/32503192/88471227-431d7e00-cf24-11ea-9348-3034b5fca093.png)

[2020-08-05 01:43] #311 closed

[2020-08-15 17:37] Ali-Razmjoo opened #326 "smtp brute tls issue"
I noticed we used `starttls()` for smtp brute, it won't work on normal smtp unless tls is enabled.

https://github.com/zdresearch/OWASP-Nettacker/blob/master/lib/brute/smtp/engine.py#L62
https://github.com/zdresearch/OWASP-Nettacker/blob/master/lib/brute/smtp/engine.py#L122

we can remove these to lines and have another module (smtps_brute) instead for smtp+tls/ssl or maybe we can add a condition

[2020-08-18 16:21] securestep9 commented on #326
There should be a way to check if SMTP requires TLS as the response from the initial EHLO will contain 250-STARTTLS. I don't think we need two modules - we should be able to detect if there is no STARTTLS support. @aman566 - can you please investigate / fix?

[2020-08-18 17:06] aman566 commented on #326
yes I am working on it and will keep you updated :)

[2020-08-19 22:29] securestep9 commented on #326
@Ali-Razmjoo starttls PR fix merged

[2020-08-19 22:34] securestep9 commented on #318
@aman566 - this is a good feature request suggestion, however with less priority. I would expect that the users will run CMS-specific scans (WordPress/Joomla/Drupal) only after confirming the actual CMS using cms_detection_scan module, wappalyser or whatcms (for Internet-facing sites) for now. We can (and we definitely should) implement this, but a bit later

[2020-08-19 22:35] Ali-Razmjoo commented on #326
Great thanks.

[2020-08-19 22:35] #326 closed

[2020-08-19 23:32] aman566 commented on #318
Yes sure.

[2020-09-24 10:53] dependabot-preview[bot] opened #332 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/zdresearch) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/zdresearch/update-logs/48597379).

[2020-09-25 10:37] Ali-Razmjoo commented on #332
I will have a look

[2020-09-28 07:51] #332 closed

[2020-10-21 14:43] 0xrishabh commented on #280
I don't think there's any way to deal with this situation, other than to use `ffuf` which gives you the option to auto-calibrate false positive and removes them.

[2020-10-26 16:49] pallav12 commented on #49
Hello,
icmp_scannning is just a way to know if target is active, we can do this with simple ping like this
``
import os

hostname = "google.com" #example

response = os.system("ping -c 1 " + hostname)
if response == 0:

  print hostname, 'is up!'

else:

  print hostname, 'is down!'

``
am I missing something?

[2020-10-27 09:40] Ali-Razmjoo commented on #49
it gets extra time to do that, I think we are going to focus on docker image instead to avoid such issues.

[2020-10-27 16:44] securestep9 commented on #49
@pallav12  the whole idea of Nettacker is to be 100% in python and not dependent on other tools installed in OS like nmap/ping etc-  calling an OS command is not scaleable in terms of pythons multi-threading. Most people run nettacker in Kali Linux as root anyway and can also use it in docker as @Ali-Razmjoo has already mentioned.

[2020-10-28 07:51] pallav12 commented on #49
Ohh okay, makes sense

[2020-10-31 13:34] pallav12 commented on #126
Hello,
Although i this issue is self assigned, can I work on this?

[2020-11-02 13:00] securestep9 opened #338 "KeyError in wappalyzer_scan module when IIS is discovered"
Please Describe the issue or question and share your OS and Python version.
_________________
**OS**: `debian`

**OS Version**: `Debian 5.2.9-2kali1`

**Python Version**: `3.6`

Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib64/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib64/python3.6/threading.py", line 864, in run
    sel

[2020-11-10 06:42] Captain-K-101 commented on #171
Hello
i would like to take up this issue if its still unresolved + wont it be better to map the custom ports to the services which usually use it
ie right now 3306 is showing "UNKNOWN" but usually mysql runs on it  right. so rather than saying UNKNOWN i wont it be better to show *mysql(* as in may be present).

[2020-11-19 11:37] Ali-Razmjoo commented on #154
are we safe to close this PR?

[2020-11-25 19:06] abinpaul1 commented on #49
[icmplib](https://github.com/ValentinBELYN/icmplib) is a new library which provides a pure Python implementation of the ICMP protocol along with the option of running as non-root.

[2020-12-24 10:27] securestep9 commented on #338
fixed by PRs #339 #343

[2020-12-24 10:27] #338 closed

[2020-12-30 17:39] ktg-123 opened #348 "Unnecessary import and Code Duplication in core/log.py"
I think that the core/log.py has some unnecessary import from the core.config and core.config_builder
[code]
also, there is a repeat in the first nested if condition violating the DRY principle

[code]
_________________
**OS**: `Ubuntu`

**OS Version**: `18.04`

**Python Version**: `3.6.9`

[2021-01-01 19:11] securestep9 commented on #348
closed by PR #349

[2021-01-01 19:11] #348 closed

[2021-01-02 11:14] #246 closed

[2021-01-02 11:18] #316 closed

[2021-01-02 21:15] #268 closed

[2021-01-04 19:16] securestep9 opened #353 "Subdomain improvements from PR#324 generate invalid subdomains separated by "<br>""
Please describe the issue or question and share your OS and Python version.
_________________
**OS**: `MacOS`

**Python Version**: `2.7`

Improvements in PR#324 are bringing in some subdomains separated with `<br> ` which is incorrect

Examples returned when scanning subdomains of teslamotors.com

`attwsproxy.teslamotors.com<br>warpdrive.teslamotors.com<br>wd-prd.teslamotors.com`

![image](https:/

[2021-01-05 16:05] securestep9 opened #357 "wp_plugin_scan module not reporting results / reporting false-positives due to 403"
Please describe the issue or question and share your OS and Python version.
_________________
**OS**: `MacOS`

**OS Version**: `Catalina`

**Python Version**: `3.6`

wp_plugin_scan relied on being able to get the directory listing from the plugins folder which is no longer true for modern versions of WordPress. As a result the module returns lots of false positives when 403 is returned or no detec

[2021-01-05 16:12] #353 closed

[2021-01-05 20:46] #357 closed

[2021-01-06 00:36] securestep9 opened #358 "Web UI/API broken in Python2"
Web UI/API is currently crashing with Error under Python2:

[code]

_________________
**OS**: `MacOS`

**OS Version**: `Catalina`

**Python Version**: `Python2.7`

[2021-01-10 04:05] akashtalole opened #360 "Internal server error with docker"
I hvae cloned git repo and build docker image. Then ran docker-compose up. When I access https://127.0.0.1:5000/ it gives internal server error and below error on command line

`nettacker_1  | UnicodeDecodeError: 'ascii' codec can't decode byte 0xc3 in position 36457: ordinal not in range(128)`
_________________
**OS**: `Ubuntu`

**OS Version**: `20.04`

**Python Version**: `2.7`

[2021-01-10 04:42] itsdivyanshjain commented on #360
This docker image pulls python2.7 which is leads to UnicodeDecodeError when it start the api (issue same as #359 ). Soon this issue going to be solved until before that use this tool with python3.

[2021-01-10 17:32] securestep9 commented on #360
hi @akashtalole  this has been fixed now and tested to work fine in Ubuntu 20.04 please try to do a fresh git clone and docker-compose up

[2021-01-10 17:39] securestep9 commented on #358
fixed in PR #359 - thanks @itsdivyanshjain

[2021-01-10 17:39] #358 closed

[2021-01-10 17:40] securestep9 commented on #360
fixed in PR #359

[2021-01-10 17:40] #360 closed

[2021-01-10 19:57] #309 closed

[2021-01-10 21:54] securestep9 opened #361 "subdomain takeover module false positive on readthedocs"
new subdomain_takeover module has false positive detection on readthedocs - this is caused by missing square brackets [] in the payload file for readthedocs and zendesk payloads
_________________

[2021-01-10 22:02] #361 closed

[2021-01-11 10:48] securestep9 opened #363 "Change hardcoded references to old GitHub repo location to OWASP"
Nettacker  has now moved into the official OWASP Github repo, however the source code in many places still contains hardcoded references to https://github.com/zdresearch/OWASP-Nettacker

- these need to be changed to https://github.com/OWASP/Nettacker

[2021-01-11 10:55] securestep9 opened #364 "Fix flake8 F632 E722 and pylint findings throughout the code"
There are many legacy issues in the code discovered by flake8 & pylint - these need to be fixed to have a clean code base

[2021-01-11 11:00] ktg-123 commented on #363
I will be glad to take up the issue!

[2021-01-16 21:15] #364 closed

[2021-01-17 12:15] itsdivyanshjain commented on #280
We can reduce the false positive by checking the title and meta tags of html files which contains keywords like 404,not found, etc... As most html returned 404 pages with status 200 follows the same pattern. This may reduce false positive in a significant manner.

[2021-01-18 09:03] #280 closed

[2021-01-20 04:21] itsdivyanshjain opened #371 "False positives while running admin scan module"
This issue is similar to #280 but now we get false positive only while running admin_scan module
![admin-issues](https://user-images.githubusercontent.com/45870070/105126513-ed0d4a00-5b04-11eb-9cd0-03594dd84f75.jpg)
_________________
**OS**: `Backbox`

**OS Version**: `7.1`

**Python Version**: `3.8`

[2021-01-20 04:23] itsdivyanshjain commented on #371
I like how previous false positive is tackled in dir_scan. So, i would like to take up this issue.

[2021-01-28 12:29] Ali-Razmjoo opened #375 "let's ditch travisci and migrate to github actions"
lets remove travis ci as third party.

[2021-01-28 14:28] #375 closed

[2021-02-01 09:22] #154 closed

[2021-02-01 09:36] aman566 commented on #30
Are we good to close this issue @Ali-Razmjoo ?

[2021-02-01 13:36] Ali-Razmjoo commented on #30
i didn't add https://transparencyreport.google.com/https/certificates but we can add later.

[2021-02-01 13:36] #30 closed

[2021-02-01 13:40] Ali-Razmjoo commented on #7
it could be better tho but let's close this for now, we can have new design in next version.

[2021-02-01 13:40] #7 closed

[2021-02-01 13:43] #69 closed

[2021-02-01 13:46] Ali-Razmjoo commented on #49
@abinpaul1 👍

yeah we will add this as dependecy https://pypi.org/project/icmplib/

[2021-02-01 14:04] #244 closed

[2021-02-01 15:58] aman566 commented on #30
Yes I will work and add it ASAP.

[2021-02-01 17:18] Ali-Razmjoo commented on #30
@aman566 thanks :)

[2021-02-02 20:18] #363 closed

[2021-02-02 20:19] #185 closed

[2021-02-02 20:20] #122 closed

[2021-02-02 20:20] #121 closed

[2021-02-02 20:21] #116 closed

[2021-02-02 20:21] #73 closed

[2021-02-02 20:22] #87 closed

[2021-02-02 20:22] #90 closed

[2021-02-02 20:22] #97 closed

[2021-02-02 20:22] #101 closed

[2021-02-02 20:22] #113 closed

[2021-02-02 20:23] #114 closed

[2021-02-02 20:23] #115 closed

[2021-02-02 20:23] #117 closed

[2021-02-02 20:23] #119 closed

[2021-02-02 20:24] #124 closed

[2021-02-02 20:24] Ali-Razmjoo commented on #125
we can add something with graphviz later if needed.

[2021-02-02 20:24] #125 closed

[2021-02-02 20:24] #126 closed

[2021-02-02 20:25] #135 closed

[2021-02-02 20:25] #134 closed

[2021-02-02 20:26] #152 closed

[2021-02-02 20:28] #171 closed

[2021-02-02 20:41] #181 closed

[2021-02-02 20:57] #183 closed

[2021-02-02 20:57] #184 closed

[2021-02-02 21:00] Ali-Razmjoo commented on #188
this is fixed now, please try again, `docker-compose up` or `docker build . -t nettacker`

[2021-02-02 21:00] #188 closed

[2021-02-02 21:28] #120 closed

[2021-02-02 21:31] #150 closed

[2021-02-02 21:32] #182 closed

[2021-02-02 21:33] Ali-Razmjoo commented on #187
we need to think about fully restructuring this.

[2021-02-02 21:33] #187 closed

[2021-02-02 21:35] #239 closed

[2021-02-02 21:36] #241 closed

[2021-02-02 21:51] Ali-Razmjoo opened #383 "bug in core/targets.py"
https://github.com/OWASP/Nettacker/pull/372/checks?check_run_id=1818048441

[code]

[2021-02-02 22:14] #383 closed

[2021-02-05 04:11] aligrt opened #387 "Installation error on Kali"
Hi, I am facing issues while installing the Nettacker, someone can please help me to fix the issues. when run python setup.py install the following errors received.

Downloading https://files.pythonhosted.org/packages/60/e2/9c9b456c0ddaa1268f320bc2f739f1598290f5cf3acf8d65e2c36fde8afe/click-8.0.0a1.tar.gz#sha256=e4315a188403c0258bbc4a4e31863e48fc301c4e95b8007a8eeda0391158df13
Best match: click 8.0.

[2021-02-05 04:15] #387 closed

[2021-02-06 06:07] ktg-123 opened #388 "Error while running the dir_scan module"
This error occurred while running the dir_scan module

![bug](https://user-images.githubusercontent.com/58258464/107110398-81014480-686d-11eb-9d11-d4ce8a5ad14b.png)

_________________
**OS**: `Ubuntu`

**OS Version**: `18.04`

**Python Version**: `3.6.9`

[2021-02-06 06:16] aman566 commented on #388
In Macos It's running all good.
Will verify in linux.

[2021-02-06 06:41] ktg-123 commented on #388
In my case when the result during the scan is quite large this error is thrown. Otherwise for normal scans, it's working fine.

[2021-02-12 17:25] ktg-123 opened #390 "Improvement in csp_vuln mdule"
Currently, the content_security_policy module only checks for presence for the `Content-Security-Policy` header. However, we should also check for the `<meta http-equiv="Content-Security-Policy"`  tag in the absence of the CSP header.
Moreover, we could also check for the `unsafe-inline` and `unsafe-eval` directives as to the weak implementation of CSP

[2021-02-12 17:31] ktg-123 commented on #390
I would be glad to take up the issue

[2021-02-23 16:28] tristanlatr opened #394 "Python3.9: AttributeError: 'Thread' object has no attribute 'isAlive'"
`threading.Thread.is_alive()` should be used instead. Thanks :)

**Python Version**: `3.9`

The traceback I'm getting (several times):

[code]

[2021-02-24 03:57] itsdivyanshjain commented on #394
I would like to take up this issue

[2021-02-25 14:21] securestep9 commented on #394
thanks @itsdivyanshjain - I will review this weekend. I am just just adding Python bug reference in this comment  for a background of why isAlive was deprecated in Python 3.9 https://bugs.python.org/issue37804

[2021-03-05 08:36] abinpaul1 commented on #49
@Ali-Razmjoo I would be happy to work on this. However the library is only compatible with python 3.6+.
So I think I could go about it in two ways
- Keep the current implementation and use the new library if python version is more than 3.6
- Replace the current implmentation
Do let me know, I would be happy to open a pull request for the same

[2021-03-05 11:55] itsdivyanshjain commented on #394
@securestep9 any update?

[2021-03-09 02:20] #394 closed

[2021-03-09 02:33] securestep9 opened #398 "port_scan module not working in Python 3.9"
in python 3.9.1 getting error:

 [X] this module "port_scan" is not available.

Probably some incompatibilities in Python 3.6->3.9 are crashing the module
_________________
**OS**: `Kali.Linux`

**OS Version**: `2020.3`

**Python Version**: `3.9.1`

[2021-03-09 03:41] itsdivyanshjain commented on #398
I would like to take up this issue

[2021-03-09 04:24] aman566 commented on #398
In python 3.9.0 It's working fine after installing scapy properly.
`[X] this module "port_scan" is not available.` is due to scapy

[2021-03-09 06:21] itsdivyanshjain commented on #398
Hey @aman566 , this fix works only for python 3.9.0 not for 3.9.1 and 3.9.2, its show error `[Errno 2] No such file or directory: b'liblibc.a`(after installing scapy module).

https://stackoverflow.com/questions/65410481/filenotfounderror-errno-2-no-such-file-or-directory-bliblibc-a

Above link mentioned temporary solution regarding this, also pycurl is having similar issues in windows, it work we

[2021-03-09 06:43] aman566 commented on #398
Hello @itsdivyanshjain .Yes, pycurl is having issues. Regarding Scapy, you are correct. For 3.9.1 onwards this doesn't work.

[2021-03-09 11:47] itsdivyanshjain commented on #398
we should wait for pycurl support for python 3.9

In regards to scapy, it showing different error to different OS, also i have now tried running python 3.9.2 in docker containers it works completely fine(scapy need to install).

[2021-03-09 11:50] aman566 commented on #398
Yes you are right

[2021-03-11 04:31] itsdivyanshjain opened #401 "Handle Exception"
We should use `except exception as e` instead of only `except exception`, otherwise it often difficult to debug the code. Like in issue #398 it shows module not exists because of import error in that module. This often deceiving and sometimes take bit of our time.
_________________
**OS**: `Backbox`

**OS Version**: `7.1`

**Python Version**: `3.8.5`

[2021-03-11 04:32] itsdivyanshjain commented on #401
@securestep9 If you found this as a valid issue, then I would like to take up this issue.

[2021-03-15 01:01] securestep9 opened #405 "We need a module for MS Exchange CVE-2021-26855"
With MSExchange hacking still making headlines every day since 4th March 2021 the attacks are going on all over the world with tens of thousands servers hacked he need a CVE-2021-26855 vuln detection module to help organisations using OWASP Nettacker to detect if they have any vulnerable Exchange servers in their networks.

Nmap script can be found here:

https://github.com/microsoft/CSS-Exchange/

[2021-03-15 01:56] ktg-123 commented on #405
I would like to take up the issue

[2021-03-15 05:40] ktg-123 commented on #405
The implementation of the module is the same as the map script. Please review

[2021-03-16 01:14] securestep9 commented on #388
this is a multi-threading issue - is this happening on mysql as well?

[2021-03-16 11:26] securestep9 commented on #401
Hi @itsdivyanshjain , yes, it is a valid point to improve code quality.  Please do check and review PR #403 first - DeepSource tool was used to analyse the code to find few other code quality issues

[2021-03-16 12:09] itsdivyanshjain commented on #401
Sure. I will do that

[2021-03-16 15:51] ktg-123 commented on #388
No @securestep9, I am unable to reproduce this issue using mysql

[2021-03-16 23:38] #405 closed

[2021-03-16 23:49] securestep9 opened #407 "when the target is defined as a /24 CIDR the list of targets is printed several times during the scan"
minor cleanup needed due to a debug print(target) line accidentally left in targets.py

https://github.com/OWASP/Nettacker/blob/54678bd1d599eef98e86569dbc095f94db1bd0d4/core/targets.py#L73

[2021-03-16 23:59] #407 closed

[2021-03-19 04:43] aman566 opened #409 "XSS In targets input while scanning target Through API"
Sanitization is not handled properly while scanning target using API.
![image](https://user-images.githubusercontent.com/32503192/111732529-abe2ad80-889b-11eb-8913-0a70443ba86b.png)

Input the target as: https://><svg/onload=alert(1)>
_________________
**OS**: `LInux`

**OS Version**: `Ubuntu 20.04`

**Python Version**: `3.8.5`

[2021-03-20 02:35] #409 closed

[2021-03-22 21:35] #390 closed

[2021-03-22 21:46] #388 closed

[2021-03-28 14:03] Rohan-Salwan opened #412 ""CCS_injection_vuln" module not working in python 3.8.5"
in python 3.8.5 getting error:
[X]  this module "CCS_injection_vuln"  is not available.
________________
OS: Ubuntu

OS Version: 20.04

Python Version : 3.8.5

[2021-03-28 14:12] Rohan-Salwan opened #413 ""http_form_brute" module not working in python 3.8.5"
in python 3.8.5 getting error:
[X] this module "http_form_brute" is not available.
_________________
**OS**: `Ubuntu`

**OS Version**: `20.04`

**Python Version**: `3.8.5`

[2021-03-28 14:39] Rohan-Salwan commented on #398
Same issue in python 3.8.5

[2021-03-29 02:44] akashtalole commented on #360
Thanks working now.

[2021-03-29 04:24] itsdivyanshjain commented on #398
@Rohan-Salwan @securestep9

yes, this `port_scan` module affecting python version 3.8.5 (all python3 versions) now, but by merging this PR#400 this issue can be solved(i have tested out this on docker ubuntu image too and it's work fine). Also, PR #400 doesn't solve the issue for python>3.9.1.

[2021-03-29 13:19] #413 closed

[2021-03-29 22:23] #412 closed

[2021-04-21 12:39] #398 closed

[2021-06-18 05:56] Rohan-Salwan commented on #9
Hii Ali,
I would love to do work on this issue but for that I need your clear point of view you about what you are really expecting from contributor in this issue so please ellaborate it. I am member of slack nettacker group so we can  continue our conversation on that platform too.

[2021-06-27 12:59] FerreiraEnzoA opened #436 "Spanish language is missing 25 keys"
Spanish language isn't up-to-date. Some keys (25) are missing in Spanish in comparison to English (default language of this project). When I was adding the Brazilian Portuguese (a PR) I realized this issue.

**Keys missing**
`Invalid_whatcms_api_key`, `searching_whatcms_database`, `whatcms_monthly_quota_exceeded`, `Invalid_shodan_api_key`, `shodan_api_key`, `shodan_results_found`, `shodan_results_

[2021-07-28 05:13] Rohan-Salwan commented on #401
Hi @itsdivyanshjain
Actually Nettacker tool has its own default set of messsages for any exception case so you want to replace this message with exception and traceback detailes. plz share your thoughts on this and guide me.

[2021-07-28 12:39] itsdivyanshjain commented on #401
Hey @Rohan-Salwan,

Nettacker does have set of messages, but when it breaks it goes for an exception and print the particular line from a set of messages which may be deceptive. In case of issue #398 it's showing `module port_scan is not available` and while debugging we get to know about an issue which is `importerror` in port_scan module. So, here clearly we didn't handle exception clearly well.

[2021-09-01 16:56] securestep9 commented on #436
thanks, can you please submit a PR for Spanish messages as well. The project team is currently working on v0.0.3 which is a big re-write and your PRs will will be reviewed & merged after the new core is ready

[2021-09-07 03:16] djhashh commented on #206
Ditto

[2021-09-09 20:57] Ali-Razmjoo commented on #9
done in #440

[2021-09-09 20:57] #9 closed

[2021-09-09 20:57] Ali-Razmjoo commented on #49
done in #440

[2021-09-09 20:57] #49 closed

[2021-09-09 20:57] #143 closed

[2021-09-09 20:58] Ali-Razmjoo commented on #275
ditched in new version

[2021-09-09 20:58] #275 closed

[2021-09-09 20:59] #371 closed

[2021-09-10 03:25] abinpaul1 commented on #49
Hi
I could see a lot of changes made in the PR,
However it seems the ICMP implementation still requires root to run. Was the idea to use 'icmplib' (which provides an option to run ping as non root) dropped

[2021-09-10 07:18] tXambe opened #449 "Error of execution Nettacker"
Hello,

When I run the script I have this error

pip3 install -r requirements.txt ---> py3DNS==3.2.1 not installed!

But this packet is installed
_________________
**OS**:
VERSION="2021.3"
VERSION_ID="2021.3"
VERSION_CODENAME="kali-rolling"
Linux 5.10.0-kali9-amd64 #1 SMP Debian 5.10.46-4kali1 (2021-08-09) x86_64 GNU/Linux

**OS Version**: `x`

**Python Version**: Python 3.9.7

A greeting and than

[2021-09-11 03:25] itsdivyanshjain commented on #449
Try this command `pip3 install -r requirements.txt` and then run the script again. If it still causing same error try to follow mention steps in this wiki https://github.com/OWASP/Nettacker/wiki/Installation

[2021-09-11 05:46] murtazakan commented on #449
I removed the dependency check code lines in the nettacker.py script cause all my requirements were met (both apt and pip), still the nettacker doesn't do anything... Will let you know when i find the bug

[2021-09-11 05:57] aman566 commented on #449
Hello @murtazakan Can you please more precise about when you say "Nettacker doesn't do anything"
I mean what commands did you tried

[2021-09-11 06:05] murtazakan commented on #449
@aman566

`[2021-09-11 05:28:15][+] Nettacker engine started ...
[2021-09-11 05:28:15][+] 45 modules loaded ...
[2021-09-11 05:28:15][+] regrouping targets based on hardware resources!
[2021-09-11 05:28:15][+] Removing old database record for selected targets and modules.
[2021-09-11 05:28:15][+] starting 1 process(es).
`
This is the output after removing dependency check... i kept the computer on

[2021-09-11 06:26] itsdivyanshjain commented on #449
you need to use command `-module all` or `-m all`. when you use profile(it is grouping of similar templates like wordpress, scan, vuln...), for that you can use command `--profile scan` or view all options for profiles using `python nettacker.py --help`

[2021-09-11 07:19] itsdivyanshjain commented on #449
add `--verbose` to above command check and if you can see output(if response are visible to terminal that means nettacker is attempting request but not found anything yet) .  `--profile all` is a aggressive scan, try to use specific modules/profiles using `-m module_name` or  `--profile vuln`.

[2021-09-11 08:14] murtazakan commented on #449
ok, thanks guys, seems like its the problem with the target site... i added `--verbose` and it is saying something like this and been stuck here...

[2021-09-11 15:21:20][+] process-1|admin_scan|example.com|module-thread 14/44|request-thread 1082/2344| all conditions failed
[2021-09-11 15:21:20][+] {"headers": {"User-Agent": "Nettacker 0.0.3 TRES - https://github.com/OWASP/Nettacker"}, "url": "htt

[2021-09-11 15:56] Ali-Razmjoo commented on #449
Hi @murtazakan,

I recommend you use docker to make sure all dependencies are working fine. If you don't want to use that, just make sure you use the same python and pip version. Both must be version 3+. To confirm the pyDNS is installed, you can check in your python3 console.

[code]

[2021-09-11 16:07] Ali-Razmjoo commented on #436
i merged your pr, thanks.

[2021-09-11 16:07] #436 closed

[2021-09-13 04:58] murtazakan opened #452 "Cannot delete old database record for the selected target and modules error while executing program"
**OS**: `kali`
**OS Version**: `2021.3`
**Python Version**: `3.9.7`
**PIP Version**: `21.2.4`
[code]

Get this error while running the nettacker on the target site using command:
`python3 nettacker.py -i example.com --profile scan -m all --verbose`

[2021-09-13 10:26] privacy-lawyer opened #453 "GDPR Privacy violation - IP addresses collected without consent"
This piece of code collects users' IP address which is qualified as personal data under EU GDPR:

https://github.com/OWASP/Nettacker/blob/54ec990e19ceb983d09c1f9f6365ac79a011d4be/core/compatible.py#L63

Users must **explicitly** give **consent** for collection of this personal data and the organisation (OWASP) shall be able **to demonstrate** that the data subject **has consented** to processing o

[2021-09-13 12:36] #453 closed

[2021-09-13 12:39] Ali-Razmjoo commented on #452
Hi,

Thanks for the report. Are you using SQLite (default configuration)?

Bests, Ali.

[2021-09-13 18:11] murtazakan commented on #452
@Ali-Razmjoo Ah, yes, sorry I forgot to mention i was trying to troubleshoot the error so i changed the default database (SQLite) to MySQL

When using the default database configuration i get this error output with the same commands entered:

[code]

The only change i made is database name in config.py

I figured I would get similar error if I choose Postgres too.. So I didn't tried that

[2021-09-21 18:12] #449 closed

[2021-09-21 18:16] Ali-Razmjoo commented on #452
In the new version of nettacker, we changed some tables, which messed up the old version. Soon, we will migrate to elastic search, and Redis and I am unsure if we can continue supporting this due to the many limitations it causes us.

@securestep9 @itsdivyanshjain @aman566 any of you can work on a script maybe to migrate the old db to the new one?

[2021-09-22 00:34] murtazakan commented on #452
@Ali-Razmjoo What was the need for changing tables if migration wasn't initiated at all?

[2021-09-23 10:58] Ali-Razmjoo commented on #452
I know it's an old project, but we are not even in beta, still in r&d phase and we don't think twice which is bad :D but so you know. you can keep using version 0.0.2, we just change the architecture in 0.0.3 and when it's a bit more clean code and bug-free we gonna go to next phase to add more stuff, then you might need to update...

[2021-09-23 13:41] murtazakan commented on #452
@Ali-Razmjoo

Ah, OK. I learned a lot from this tool, please do update it new architecture, I will be waiting for it!

I just have one more request, can you update the docker image to 0.0.2 as well? I'm not sure if it is the 0.0.2 version right now or not but I felt it was outdated cause it didn't worked on my machine. I tried creating my own docker image but was struggling and came to a dead end

[2021-09-23 19:59] Ali-Razmjoo commented on #452
There is a `Dockerfile` in the directory of version 0.0.2. So all you need to do is download the v0.0.2 from [here](https://github.com/OWASP/Nettacker/tags) and then you have two to go forward:

1- build the image yourself.
[code]
2- use docker-compose
[code]
* notice, I used `--build` to make sure if there is an older version of the image, it will replace it, but once you build it, you can use `d

[2021-09-24 02:02] murtazakan commented on #452
@Ali-Razmjoo

Thank you so much! The explanation on usage of docker image was very helpful.

Understanding version changes and releases is quite important, haha

[2021-09-28 18:07] #318 closed

[2021-10-16 04:21] Rohan-Salwan commented on #401
[](https://github.com/Rohan-Salwan/DataStructures/blob/95e47a3218f8cae37b155aaeeccfbf2dbf042eb3/AVLtree.py)

[2021-11-04 23:29] robox404 opened #505 "KeyError: 'error_platform'"
PS C:\Users\robox\Nettacker> python nettacker.py  -h

   ______          __      _____ _____
  / __ \ \        / /\    / ____|  __ \
 | |  | \ \  /\  / /  \  | (___ | |__) |
 | |  | |\ \/  \/ / /\ \  \___ \|  ___/
 | |__| | \  /\  / ____ \ ____) | |     Version 0.0.3
  \____/   \/  \/_/    \_\_____/|_|     TRES
                          _   _      _   _             _
                         | \ |

[2021-11-08 05:49] itsdivyanshjain commented on #505
@robox404 Windows platform is no longer supported by Nettacker. Try to run this tool using docker if you want to run on windows or run it on Linux.

[2021-11-15 05:21] EFFLUX110 opened #509 "Contribute to Language Libraries"
Hey, I saw that in [en.yaml file](https://github.com/OWASP/Nettacker/blob/master/lib/messages/en.yaml) and [hi.yaml file](https://github.com/OWASP/Nettacker/blob/master/lib/messages/hi.yaml) some keywords/lines are missing.
I think we should modify it for better user experience.
One more thing, I guess Windows platform is no longer supported by Nettacker so we should remove the word ['Windows' in

[2021-12-05 10:58] #505 closed

[2021-12-05 10:59] Ali-Razmjoo commented on #509
this issue is fixed now, thanks.

[2021-12-05 10:59] #509 closed

[2021-12-05 10:59] #452 closed

[2021-12-21 18:49] tristanlatr opened #526 "Having nettacker in the PATH"
Right now the issue is that the installation directory is totally arbitrary and the install instructions doesn't prescribe to create a symlink in a directory that is accessible in the PATH.

I'de propose to add the required steps in the installation docs such that Nettacker would be installed in `/opt/Nettacker/` and a symlink `/usr/local/bin/nettacker` is created.

So the "Install Requirements" s

[2022-01-06 18:45] BlAd373 opened #534 "Internal Server Error"
Please describe the issue or question and share your OS and Python version.
_________________
**OS**: `x`
kali
**OS Version**: `x`
5.14.0-kali4-amd64
**Python Version**: `x`
Python 3.9.9
Internal Server Error

The server encountered an internal error and was unable to complete your request. Either the server is overloaded or there is an error in the application.

some suggestion?
ty so much

[2022-01-06 21:51] securestep9 commented on #534
@BlAd373  can you please add a screenshot where it happens/steps to reproduce?

[2022-01-07 14:21] BlAd373 commented on #534
python3 nettacker.py --start-api

   ______          __      _____ _____
  / __ \ \        / /\    / ____|  __ \
 | |  | \ \  /\  / /  \  | (___ | |__) |
 | |  | |\ \/  \/ / /\ \  \___ \|  ___/
 | |__| | \  /\  / ____ \ ____) | |     Version 0.0.3
  \____/   \/  \/_/    \_\_____/|_|     TRES
                          _   _      _   _             _
                         | \ | |    | | | |

[2022-01-09 13:58] #534 closed

[2022-01-19 12:16] m07med176 commented on #394
is still have a problem in my script if there is another function if deprecated please tell us

[2022-01-27 00:03] dhirensr commented on #526
if the user wants it they can cd and install it right? why do you think we need to mention change directory command explicitly?

[2022-01-28 14:28] tristanlatr commented on #526
It’s good to propose a standard place, Such that we can say: “the regular installation directory for nettacker is /opt/nettacker”. And a symlink in the path is generally created. Now, there is absolutely no rules about it. It’s really just about having a symlink in the PATH…

[2022-01-28 14:38] tristanlatr commented on #526
This could also be done by packaging nettacker with a setup.py.

[2022-03-15 17:13] 1fc0nfig opened #550 "py3DNS==3.2.1 not installed! | OSX"
I've installed all python dependencies as instructed, yet i get this error when running nettracker:

➜  Nettacker git:(master) python3 nettacker.py
[X] pip3 install -r requirements.txt ---> py3DNS==3.2.1 not installed!
➜  Nettacker git:(master) pip3 freeze | grep py3dns
py3dns==3.2.1
➜  Nettacker git:(master) pip3 install py3dns
Requirement already satisfied: py3dns in /usr/local/lib/python3.9/sit

[2022-03-15 17:42] 1fc0nfig commented on #550
Okay, there was a problem with the library_name=DNS.
I've noticed that the actual name of package beeing imported is "DNS". I've then tried importing it using python console and there was an error.
I've uninstalled 'pythondns' and installed it again, as well as 'py3dns'.
Changed the "# library_name=DNS" to "# library_name=dns" and voila.
I am not sure if i solved it or if it will cause some proble

[2022-03-15 17:42] #550 closed

[2022-03-29 17:01] tristanlatr commented on #526
@dhirensr do you think it would be possible to package nettacker such that we can have an entrypoint in the PATH ?

Thanks

[2022-04-12 10:49] umardraz opened #555 "MySQL not working"
Hi I am trying to configure Nettacker with mysql database, but it is not working. here is my config

[code]

And here is the error that appear whenever submit new scan
[code]
Note: the mysql database is empty there is no table in it

[2022-04-15 17:17] Mrinank-Bhowmick opened #558 "socket.py file name must be changed."
[socket.py](https://github.com/OWASP/Nettacker/blob/master/core/module_protocols/socket.py) file name must be change to other name like `Socket.py` with capital 'S' or `SockeT.py` which should not conflict when some developers are making other python file in [module_protocol](https://github.com/OWASP/Nettacker/tree/master/core/module_protocols) folder which may use inbuild socket module in other p

[2022-04-18 11:02] MrinankBhowmick commented on #558
When I am importing [poplib](https://github.com/MrinankBhowmick/Nettacker/blob/module/core/module_protocols/pop3.py#L5) module in another file : --> my code [here](https://github.com/MrinankBhowmick/Nettacker/blob/module/core/module_protocols/pop3.py) , by mistake python is pointing the [`socket.py` file here](https://github.com/MrinankBhowmick/Nettacker/blob/module/core/module_protocols/socket.py

[2022-05-13 21:23] windowshopr commented on #200
I'm having this issue as well, Python 3.7.9, Windows 10 (probably not supported, but haven't read it anywhere yet).

Just downloaded the package today, and ran `pip install -r requirements.txt`, then tried to run `python nettacker.py --start-api` and it gives me this error:

[code]

I followed the steps above as but same issue. Is it a Windows thing?

[2022-06-26 01:48] LiteEagle262 opened #573 "packaging issue"
Please describe the issue or question and share your OS and Python version.

SystemExit: [1;31m[X] [1;33mpip3 install -r requirements.txt ---> py3DNS==3.2.1 not installed![0m

ive un installed and re installed the package but its still saying that its not installed
_________________
**OS**: `Windows 10`

**OS Version**: `Version	10.0.19043 Build 19043`

**Python Version**: `3.9.2`

[2022-07-01 10:57] itsdivyanshjain commented on #573
Windows is no longer supported, still you can run this using docker or using Linux based OS.

[2022-07-30 03:12] Sajeeshab opened #580 "Installation Error"
#Installation Issue :-

./nettacker.py -h
[X] pip3 install -r requirements.txt ---> requests==2.26.0 not installed!

_________________
OS : Kali Linux

OS Version
------------------------
VERSION="2022.3"
VERSION_ID="2022.3"
VERSION_CODENAME="kali-rolling

5.18.0-kali5-amd64

Python Version : Python 3.10.5

[2022-07-30 05:22] Mrinank-Bhowmick commented on #580
Run
pip3 install -r requirements.txt
on your terminal .

[2022-08-07 19:30] #580 closed

[2022-08-07 19:41] securestep9 commented on #573
@LiteEagle262 if you wish to use Nettacker on Windows please use version 0.0.2: https://github.com/OWASP/Nettacker/releases/tag/0.0.2

[2022-08-07 19:41] #573 closed

[2022-09-01 22:18] wesleyguirra opened #585 "Abandoned?"
Is this project abandoned?

[2022-09-03 17:35] securestep9 commented on #585
Hi Wes, no it is not abandoned. There is wok on-going on the next version, new features and more modules

[2022-09-03 17:35] #585 closed

[2022-09-05 12:43] Ali-Razmjoo commented on #585
There are a lot of reformattings to do. we will get there :D

[2022-09-24 16:24] Ali-Razmjoo opened #595 "multi threading issue"
Hi,

There is an issue with the queues. When a request is dependent on another request, all queued requests will constantly check for the same variable in the temp events of the database. So we need to generate those requests after the variable is available and stop consuming the CPU.

Thanks, Ali.

[2022-09-24 16:28] Ali-Razmjoo opened #596 "Standardize yaml files"
Hi,

1. Yaml files don't share good standard practices. We need to clean up a little bit and document them.
2. Yaml files need to support while and for loops.

Bests, Ali.

[2022-09-24 16:31] Ali-Razmjoo opened #597 "Not enough CI tests"
Hi,

Currently, we are facing a lot of issues, we need to have unit tests for

1. API server & Database
2. Yaml files functionality
3. core functionalities

Bests, Ali.

[2022-09-24 16:34] Ali-Razmjoo opened #598 "Refactor restAPI with best practices"
Hi,

The API server doesn't follow best practices and needs to be refactored and adjusted with the WebUI.

Bests, Ali.

[2022-09-24 18:35] #558 closed

[2022-09-24 19:55] securestep9 opened #599 "Add "Copy JSON" button to HTML report"
since new JSON viewer is adding Unicode > and V characters for navigating the tree it is now impossible to copy and past JSON into some other tool. Please add a 'Copy JSON' button next to each JSON row which places the raw JSON code without Unicode into the Clipboard

[2022-09-27 20:59] #599 closed

[2022-10-05 18:27] Ali-Razmjoo opened #609 "database lock issue"
Hi,

in some modules when there are a lots of events submitting to db, i got a lot of failure error with database lock, we need to re-architect the whole thing, it use a lots of IO, unnecessary memory, CPU, etc.

Bests. Ali.

[2022-10-05 20:06] Ali-Razmjoo commented on #609
possible solution: https://github.com/litements/litequeue

[2022-10-09 11:05] Ali-Razmjoo opened #616 "AttributeError: '_UnixSelectorEventLoop' object has no attribute '_ssock'"
➜  Nettacker git:(issue/609) ✗ python3 nettacker.py -i google.com --profile http -t 1100 -M 5

[code]

[2022-10-17 00:30] dhirensr commented on #598
@Ali-Razmjoo : I'll try to take a look at this issue for refactoring code.

[2022-10-17 21:40] Ali-Razmjoo commented on #598
@dhirensr there is an open PR. I am working on it.

[2022-10-27 09:52] Mrinank-Bhowmick commented on #597
I want to take up this issue

[2022-11-06 00:01] Ali-Razmjoo opened #620 "smtp and smtps small issue"
we should change usernames to `user` -> `user@{target}`

[2022-11-06 15:30] Ali-Razmjoo commented on #620
no actually this is correct; user can rewrite the usernames with argvs

[2022-11-06 15:30] #620 closed